<template>
<div>
<v-container class="product-detail-container">
  <v-card
    class="transparent"
    
  >
    
    <v-list
      class="pb-0  transparent"
    >
      <v-card class="d-flex order-header" img="https://via.placeholder.com/400x200/100" max-height="68px">
        <v-list-item class="justify-center flex-shrink-1">
        <!-- <v-img src="https://via.placeholder.com/400x200/100" max-height="68px" > -->
          <v-list-item-content>
            <v-list-item-title class="headline">{{product_name}} </v-list-item-title>
            <v-list-item-subtitle>{{desc_short}}</v-list-item-subtitle>
          </v-list-item-content>
            <v-list-item-avatar :class="{'big-price': bigPrice }" color="red">${{order_detail_price}}</v-list-item-avatar>
        <!-- </v-img> -->
        </v-list-item>
      </v-card>

      <div class="preFixed"></div>

      <v-row justify="center">
        <v-col>
     
      <v-list-item class="option-item">
        <v-list-item-content >
          <v-row class="d-flex align-center justify-space-between title1">
            <h4 class="orange--text text--accent-4 title">{{type_name}}</h4><v-icon color="orange accent-4">{{type_icon}}</v-icon>
          </v-row>
          <hr/>
          <v-form ref="detailForm" v-model="valid">
            <div class="d-flex flex-column" v-for="optionGroup in optionsToLoop" :key="optionGroup.option_group_id">
              <template v-if="optionGroup.option_type === 'radio'">
              <h5 class="orange--text text--lighten-1 text-capitalize">{{optionGroup.option_group_name}}</h5>
              <v-row>
                <v-col cols="7" class="radio-col">
                  <v-radio-group hide-details v-model="radioOptions[optionGroup.option_group_id]" :rules="requiredRule" class="radio-group">
                    <v-radio v-for="option in optionGroup.options" :key="option.option_id" :label="option.option_name" :value="option.option_id"  color="orange lighten-1" ></v-radio>
                  </v-radio-group>
                </v-col>
                <v-col class="radio-col">
                  <ul>
                    <li v-for="option in optionGroup.options"  :key="option.option_id" color="orange lighten-1" class="radio-price"><span v-if="option.option_price"> + ${{option.option_price}}</span></li>
                  </ul>
                </v-col>
              </v-row>
              </template>
            </div>
          </v-form>
        </v-list-item-content>
      </v-list-item>
      </v-col>


      <v-col>
      <v-list-item class="option-item">
        <v-list-item-content>
          <v-row class="d-flex align-center justify-space-between title1">
            <h4 class="orange--text text--accent-4 title">EXTRAS</h4><v-icon color="orange accent-4">mdi-plus</v-icon>
          </v-row>
          <hr/>
          <div class="d-flex flex-column check-container" v-for="optionGroup in optionsToLoop" :key="optionGroup.option_group_id">
            <template v-if="optionGroup.option_type === 'checkbox'" class="d-flex flex-column "> 
              <v-row v-for="option in optionGroup.options" class="d-flex align-center justify-space-between" :key="option.option_id">
                <v-checkbox :label="option.option_name" hide-details :value="option.option_id" v-model="checkOptions" color="orange lighten-1"></v-checkbox>
                <span class="price">+ ${{option.option_price}}</span>
              </v-row>
            </template>
          </div>
        </v-list-item-content>
      </v-list-item>
      </v-col>     
      </v-row>     

      <v-list-item>
        <v-list-item-content>
          <v-textarea
            filled
            no-resize
            hide-details
            rows="3"
            color="orange accent-4"
            name="input-7-1"
            label="Notas"
            v-model="order_detail_notes"
          >
          </v-textarea>
        </v-list-item-content>
      </v-list-item>

      <v-list-item-action class="justify-center align-center">
        <v-row >
          
          <v-btn icon color="orange" v-on:click="changeQuantity('remove')">
            <v-icon>mdi-minus</v-icon>
          </v-btn>

          <v-text-field type="number" min="1" max="9" v-model.number="quantity"  class="number">
          </v-text-field>

          <v-btn icon color="orange" v-on:click="changeQuantity('add')">
            <v-icon>mdi-plus</v-icon>
          </v-btn>
        </v-row>
      </v-list-item-action>

    </v-list>
  </v-card>
  <div class="preFixed"></div>
</v-container>
  <v-toolbar class="bottom-bar" elevation="0">
    <v-toolbar-items class="justify-center row">
      <v-btn class="primary" v-on:click="addToOrder()">Agregar a la Orden</v-btn>
    </v-toolbar-items>
  </v-toolbar>
  </div>
</template>

<script>
import Requests from '../mixins/requests'
import { mapActions } from 'vuex'

export default {
  mixins: [Requests],
  data() {
    return {
      valid: true,
      requiredRule: [value => !!value || 'Elige una opción.'],
      quantity: 1,
      order_detail_notes: '',
      bigPrice: false,
      
      checkOptions: [],
      radioOptions: {},

      optionsTable: [],
      
      product_price: '',
      product_name: '',
      desc_short: '',
      type_name: '',
      type_icon: ''
      
    }
  },
  computed: {
    optionsToLoop: function() { // Splits the options into options' group
      let optionsToLoop = []
      this.optionsTable.map(row => {
        const index = optionsToLoop.findIndex(option => {return option.option_group_id == row.option_group_id})
        if (index >= 0) { // Checks if the group is already in the array
          let rowOptions = {option_name: row.option_name, option_price: row.option_price, option_id: row.option_id}
          optionsToLoop[index].options.push(rowOptions)
        } else {
          row.options = [{option_name: row.option_name, option_price: row.option_price, option_id: row.option_id}]
          // delete row.option_id
          // delete row.option_name
          // delete row.option_price
          optionsToLoop.push(row)
        }

        if (row.selected) {
          this.radioOptions[row.option_group_id] = row.option_id
        }
      })
      return optionsToLoop
    },
    order_detail_price: function() {
      const optionsIds = [...this.checkOptions, ...Array.from(Object.values(this.radioOptions))] // radioOptions is an Object, so convert it to array
      let optionsPrices = 0
      optionsIds.forEach(optionId => {
        const option = this.optionsTable.find(option => optionId == option.option_id)
        if (option && option.option_price) {
          optionsPrices += parseFloat(option.option_price)
        }
      })
      return (this.product_price + optionsPrices) * this.quantity
    }
  },
  watch: {
    order_detail_price: function(n, o) {
      n > 999 ? this.bigPrice = true : this.bigPrice = false
    }
  },
  methods: {
    ...mapActions(['addItem']),
    changeQuantity(operation) {
      if (operation === 'add') {
        this.quantity ++
      } else if (operation === 'remove')
      this.quantity === 1 ? 1 : this.quantity --
    },
    addToOrder() {
      if (this.$refs.detailForm.validate()) {
        const item = {
          product_id: parseInt(this.$route.params.id),
          quantity: this.quantity,
          order_detail_notes: this.order_detail_notes,
          order_detail_price: this.order_detail_price,
          options: [...this.checkOptions, ...Array.from(Object.values(this.radioOptions))] // radioOptions is an Object, so convert it to array
        }
        this.addItem(item)
        this.$router.go(-1)
        // this.$router.push({ path: '/menu' })
      }
    }
  },
  created() {
    this.fetchOptions(this.$route.params.id).then(optionsTable => this.optionsTable = optionsTable)
    this.fetchSingleProduct(this.$route.params.id).then(product => {
      this.product_name = product[0].product_name
      this.desc_short = product[0].desc_short
      this.product_price = parseFloat(product[0].product_price)
      this.type_name = product[0].type_name.toUpperCase()
      this.type_icon = product[0].type_icon
    })
  }
}
</script>

<style>
.big-price {
  font-size: 14px
}
/* .product-detail-container {
  justify-content: center
} */
.option-item {
  max-width: 400px;
  min-width: 325px;
  /* padding-top: 0px;
  padding-bottom: 0px; */
  /* margin: 0 auto */
}
.check-container {
  padding-right: 20px;
  padding-left: 20px;
}
.radio-group {
  padding-left: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  /* width: 100%; */
}
.radio-col {
  padding-top: 0px;
  padding-bottom: 0px;
}
ul {
  margin: 8px 8px;
  padding-top: 4px;
  list-style-type: none;
}
.radio-price {
  text-align: right;
  margin-bottom: 9px;
  padding: 3px 0px;
  height: 24px;
}
.price {
  margin-top: 16px;
  padding-top: 4px;
}


h5, h4 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.number {
  width: 32px;
}

input {
  text-align: center;
}
.bottom-bar {
  /* position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  
  padding: 0px 60px;
  */
  width: 100%;
	position: fixed;
	bottom: 0;
	background-color: transparent;
}

.order-header {
	margin-top: 56px;
	position: fixed;
	top: 0;
	z-index: 1;
  
  
  width: 100%;
 
}



</style>