<template>
<div>
<v-container class="product-detail-container">

  <v-list class="pb-0  transparent">

    <v-card class="d-flex order-header" :img="src" max-height="68px">
      <v-list-item class="justify-center">
      <!-- <v-img src="https://via.placeholder.com/400x200/100" max-height="68px" > -->
        <v-list-item-content>
          <v-list-item-title class="headline">{{product_name}} </v-list-item-title>
          <v-list-item-subtitle>{{desc_short}}</v-list-item-subtitle>
        </v-list-item-content>
          <v-list-item-avatar :class="{'big-price': bigPrice }" color="red">${{order_detail_price}}</v-list-item-avatar>
      <!-- </v-img> -->
      </v-list-item>
    </v-card>

    <!-- <div class="preFixed"></div> -->

    <v-row>
      <p class="px-7 py-3">{{desc_long}}</p>
    </v-row>

    <v-row justify="center">

      <v-col v-if="radiosGrouped[0]">
        <v-list-item class="option-item">
          <v-list-item-content >
            <v-row class="d-flex align-center justify-space-between title1">
              <h4 class="orange--text text--accent-4 title">{{type_name}}</h4><v-icon color="orange accent-4">{{type_icon}}</v-icon>
            </v-row>
            <hr/>
            <v-form ref="detailForm" v-model="valid">
              <div class="d-flex flex-column" v-for="optionGroup in radiosGrouped" :key="optionGroup.option_group_id">
                <template>
                <h5 class="orange--text text--lighten-1 text-capitalize">{{optionGroup.option_group_name}}</h5>
                <v-row>
                  <v-col cols="7" class="radio-col">
                    <v-radio-group hide-details v-model="radioOptions[optionGroup.option_group_id]" :rules="requiredRule" class="radio-group">
                      <v-radio v-for="option in optionGroup.options" :key="option.option_id" :label="option.option_name" :value="option.option_id"  color="orange lighten-1" ></v-radio>
                    </v-radio-group>
                  </v-col>
                  <v-col class="radio-col">
                    <ul>
                      <li v-for="option in optionGroup.options"  :key="option.option_id" color="orange lighten-1" class="radio-price"><span v-if="option.option_price"> + ${{option.option_price}}</span></li>
                    </ul>
                  </v-col>
                </v-row>
                </template>
              </div>
            </v-form>
          </v-list-item-content>
        </v-list-item>
        </v-col>

        <v-col v-if="checkboxsGrouped[0]">
        <v-list-item class="option-item">
          <v-list-item-content>
            <v-row class="d-flex align-center justify-space-between title1">
              <h4 class="orange--text text--accent-4 title">EXTRAS</h4><v-icon color="orange accent-4">mdi-plus</v-icon>
            </v-row>
            <hr/>
            <div class="d-flex flex-column check-container" v-for="optionGroup in checkboxsGrouped" :key="optionGroup.option_group_id">
              <template class="d-flex flex-column "> 
                <v-row v-for="option in optionGroup.options" class="d-flex align-center justify-space-between" :key="option.option_id">
                  <v-checkbox :label="option.option_name" hide-details :value="option.option_id" v-model="checkOptions" color="orange lighten-1"></v-checkbox>
                  <span class="price">+ ${{option.option_price}}</span>
                </v-row>
              </template>
            </div>
          </v-list-item-content>
        </v-list-item>
      </v-col>     
    </v-row>     
  </v-list>

</v-container>
</div>
</template>

<script>
import adminRequests from '../../mixins/adminRequests'
import { mapGetters, mapActions } from 'vuex'

export default {
  mixins: [adminRequests],
  data() {
    return {
      valid: true,
      requiredRule: [value => !!value || 'Elige una opción.'],
      quantity: 1,
      order_detail_notes: '',
      bigPrice: false,
      optionsTable: [],
      src: '',
      
      radiosGrouped: [],
      checkboxsGrouped: [],

      checkOptions: [],
      radioOptions: {},

      type_name: '',
      type_icon: ''
      
    }
  },
  computed: {
    ...mapGetters('newProduct', [
      'product_name',
      'desc_short',
      'desc_long',
      'product_price',
      'type_id',
      'img',
      'options',
      'imgObject'
    ]),
    order_detail_price: function() {
      const optionsIds = [...this.checkOptions, ...Array.from(Object.values(this.radioOptions))] // radioOptions is an Object, so convert it to array
      let optionsPrices = 0
      optionsIds.forEach(optionId => {
        const option = this.optionsTable.find(option => optionId == option.option_id)
        if (option && option.option_price) {
          optionsPrices += parseFloat(option.option_price)
        }
      })
      return (this.product_price + optionsPrices) * this.quantity
    }
  },
  watch: {
    order_detail_price: function(n, o) {
      n > 999 ? this.bigPrice = true : this.bigPrice = false
    }
  },
  methods: {
    addToOrder() {
  
    }
  },
  created() {
    let TYPED_ARRAY = new Uint8Array(this.imgObject.img.data);
    const STRING_CHAR = String.fromCharCode.apply(null, TYPED_ARRAY);
    let base64String = btoa(STRING_CHAR);
    this.src = 'data:image/jpg;base64, ' + base64String


    console.log(typeof this.product_price)
    this.fetchOneType(this.type_id).then(type => {
      this.type_name = type[0].type_name.toUpperCase()
      this.type_icon = type[0].type_icon
    })
    this.fecthCertainOptions(this.options).then(options => {
      console.log(options)
      this.optionsTable = options

      // options.forEach(option => {
      // option.option_type == 'radio' ? this.radios.push(option) : this.checkboxs.push(option)

      let group
      options.map(row => {
        row.option_type == 'radio' ? group = this.radiosGrouped : group = this.checkboxsGrouped

        const index = group.findIndex(option => {return option.option_group_id == row.option_group_id})
        if (index >= 0) { // Checks if the group is already in the array
          let rowOptions = {option_name: row.option_name, option_price: row.option_price, option_id: row.option_id}
          group[index].options.push(rowOptions)
        } else {
          row.options = [{option_name: row.option_name, option_price: row.option_price, option_id: row.option_id}]
          // delete row.option_id
          // delete row.option_name
          // delete row.option_price
          group.push(row)
        }

        if (row.selected) {
          this.group[row.option_group_id] = row.option_id
        }
      })
    })
  }
}
</script>

<style scope>
.big-price {
  font-size: 14px
}
/* .product-detail-container {
  justify-content: center
} */
.option-item {
  max-width: 400px;
  min-width: 325px;
  /* padding-top: 0px;
  padding-bottom: 0px; */
  /* margin: 0 auto */
}
.check-container {
  /* padding-right: 20px;
  padding-left: 20px; */
  padding-right: 40px;
  padding-left: 40px;
}
.radio-group {
  padding-left: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  /* width: 100%; */
}
.radio-col {
  padding-top: 0px;
  padding-bottom: 0px;
}
ul {
  margin: 8px 8px;
  padding-top: 4px;
  list-style-type: none;
}
.radio-price {
  text-align: right;
  margin-bottom: 9px;
  padding: 3px 0px;
  height: 24px;
}
.price {
  margin-top: 16px;
  padding-top: 4px;
}


h5, h4 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.number {
  width: 32px;
}

input {
  text-align: center;
}
.bottom-bar {
  /* position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  
  padding: 0px 60px;
  */
  width: 100%;
	position: fixed;
	bottom: 0;
	background-color: transparent;
}

.order-header {
	margin-top: 56px;
	position: fixed;
	top: 0;
	z-index: 1;
  
  
  width: 100%;
 
}



</style>