<template>
  <v-stepper v-model="step">
    <v-stepper-header>
      <v-stepper-step :complete="step > 1" step="1">Datos del Producto</v-stepper-step>

      <v-divider></v-divider>

      <v-stepper-step :complete="step > 2" step="2">Tipo del Producto</v-stepper-step>

      <v-divider></v-divider>

      <v-stepper-step :complete="step > 3" step="3">Opciones del Producto</v-stepper-step>
      
      <v-divider></v-divider>

      <v-stepper-step step="4">Confirmación</v-stepper-step>
    </v-stepper-header>

    <v-stepper-items>
      <v-stepper-content step="1">
        <NewProductForm ref="1" class="mb-8" v-if="step == 1"/>

        <v-btn color="primary" @click="nextStep(step)">
          Continuar
        </v-btn>

        <v-btn text @click="cancel">
          Cancelar
        </v-btn>
      </v-stepper-content>

      <v-stepper-content step="2">
        <SelectType ref="2" class="mb-8" v-if="step == 2"/>

        <v-btn color="primary" @click="nextStep(step)">
          Continuar
        </v-btn>

        <v-btn text @click="previousStep">
          Volver
        </v-btn>
      </v-stepper-content>

      
      <v-stepper-content step="3">
        <SelectProductOptions ref="3" class="mb-8" v-if="step == 3"/>

        <v-btn color="primary" @click="nextStep(null)">
          Continuar
        </v-btn>

        <v-btn text @click="previousStep">
          Volver
        </v-btn>
      </v-stepper-content>

      <v-stepper-content step="4">
        <ConfirmNewProduct class="mb-8" v-if="step == 4" />

        <v-dialog v-model="confirmModal" persistent max-width="350">
          <ConfirmModal :modalData="modalData" action="create" v-on:confirmAction="confirmAction"/> 
        </v-dialog>

        <v-btn color="primary" @click="confirm">
          CONFIRMAR
        </v-btn>

        <v-btn text @click="previousStep">
          Volver
        </v-btn>
      </v-stepper-content>
    </v-stepper-items>
  </v-stepper>
</template>

<script>
import NewProductForm from './newProductForm'
import SelectType from './selectType'
import SelectProductOptions from './selectProductOptions'
import ConfirmNewProduct from './confirmNewProduct'
import ConfirmModal from '../../commonComponents/confirmModal'
import { mapGetters, mapActions } from 'vuex'
import adminRequests from '../../mixins/adminRequests.vue'

export default {
  mixins: [adminRequests],
  components: {
    NewProductForm,
    SelectType,
    SelectProductOptions,
    ConfirmNewProduct,
    ConfirmModal
  },
  data() {
    return {
      step: 1,
      modalData: {},
      confirmModal: false
    }
  },
  computed: {
      ...mapGetters('newProduct', [
      'product_name',
      'product'
    ]),
  },
  methods: {
    ...mapActions('newProduct', ['resetProduct']),
    nextStep(component) {
      if (component && this.$refs[component].$refs.stepperForm.validate()) {
        this.step += 1
      } else if (!component) {
        this.step += 1
      }
    },
    previousStep() {
      this.step -= 1
    },
    cancel() {
      this.$router.push('/products')
    },
    confirm() {
      this.modalData = {
        actionText: 'crear',
        element: 'producto',
        item: this.product_name
      }
      this.confirmModal = true
    },
    confirmAction(confirmation) {
      if (confirmation) {
        console.log(this.product)
        this.createNewProduct(this.product).then(confirmation => {
          if (confirmation.res == 'ok') {
            this.resetProduct()
            this.$router.push('/products')
          } else {
            console.log(confirmation)
          }
        })
      }
    }

  },
  created() {
  }
}
</script>

<style>

</style>