<template>
<div>
  <v-card>
    <v-card-title>
      <!-- <span class="headline">{{this.titleAction}} producto</span> -->
    </v-card-title>

    <v-card-text>
      <v-container>
        <v-form ref="stepperForm" v-model="valid">
          <v-row>
            <v-col cols="2">
              <v-text-field disabled @input="updateField" label="Id"></v-text-field>
            </v-col>
            <v-col cols="5">
              <v-text-field :value="product_name" label="Nombre" :rules="requiredRule" @change="updateField($event, 'product_name')"></v-text-field>
            </v-col>
            <v-col cols="5">
              <!-- <v-file-input v-model="img" label="Imagen"  @change="updateField($event, 'img')"></v-file-input> -->
              <v-file-input label="Imagen"
                :value="imgInput"
                accept="image/*"
                @change="sendImg($event, 'img')"
                :append-outer-icon="imgLoaded ? imgIcon : ''"
                @click:append-outer="displayImg"
                @click:clear="clearImg('img')"
              >
               
              </v-file-input>
            </v-col>
            <v-col cols="12">
              <v-text-field :value="desc_short" label="Ingredientes" :rules="requiredRule" @change="updateField($event, 'desc_short')"></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-text-field :value="desc_long" label="Descripción" @change="updateField($event, 'desc_long')"></v-text-field>
            </v-col>
            <v-col cols="3">
              <v-text-field :value="product_price" type="number" label="Precio" :rules="requiredRule" @change="updateField(parseFloat($event), 'product_price')"></v-text-field>
            </v-col>
          </v-row>
        </v-form>
      </v-container>
    </v-card-text>

    <v-dialog v-model="imgDialog" width="500">
      <v-card>
        <v-img :src="src"></v-img>
      </v-card>
    </v-dialog>

  </v-card>
</div>
</template>

<script>
import adminRequests from '../../mixins/adminRequests'
import { mapState, mapActions } from 'vuex'

export default {
	mixins: [adminRequests],
  data() {
    return {
      src: '',
      valid: true,
      imgIcon: '',
      imgDialog: false,
      requiredRule: [v => !!v || 'Este campo es obligatorio'],
    }
  },
  computed: {
    ...mapState({
      product_name: state => state.newProduct.product.product_name,
      desc_short: state => state.newProduct.product.desc_short,
      desc_long: state => state.newProduct.product.desc_long,
      product_price: state => state.newProduct.product.product_price,
      img: state => state.newProduct.product.img,
      imgObject: state => state.newProduct.imgObject,
      imgInput: state => state.newProduct.imgInput
    }),
    imgLoaded: {
      get() {
        return this.imgInput.name ? true : false
      },
      set(value) {
        return value
      }
    } 
  },
  methods: {
    // ...mapActions('newProduct', ['updateField'])
    updateField(value, field) {
      this.$store.dispatch('newProduct/updateField', {value, field})
    },
    sendImg(value, field) {
      if (value) {
        this.imgIcon = 'mdi-loading mdi-spin'
        this.imgLoaded = true
        this.uploadImg(value, undefined).then(img => {
          this.$store.dispatch('newProduct/updateImg', {value: img, field: 'imgObject'})
          this.$store.dispatch('newProduct/updateImg', {value, field: 'imgInput'})
          this.imgIcon = 'mdi-eye'
          this.imgLoaded = true
        })
      }
    },
    displayImg() {
      let TYPED_ARRAY = new Uint8Array(this.imgObject.img.data);
      const STRING_CHAR = String.fromCharCode.apply(null, TYPED_ARRAY);
      let base64String = btoa(STRING_CHAR);
      this.src = 'data:image/jpg;base64, ' + base64String
      this.imgDialog = true
    },
    clearImg(field) {
      const value = { // 'imgObject' of store NewProduct
        imgPathTo: undefined,
        img: {
          type: '',
          data: []
        }
      }
      this.delteImg(this.img).then(response => {
        console.log(response)
        this.imgLoaded = false
        this.imgIcon = ''
        this.$store.dispatch('newProduct/updateImg', {value, field: 'imgObject'})
        this.$store.dispatch('newProduct/updateImg', {value: [], field: 'imgInput'})
      })
    }
    
    // close() {
    //   this.$emit('fromEdit', 'close', false)
    // },
    // save() {
    //   if (this.$refs.productForm.validate()) {
    //     !this.itemToSave.type_id ? this.itemToSave.type_id = 0 : null
    //     this.$emit('fromEdit',this.action, this.itemToSave)
    //   }
    // },
  },
  // updated() {
  //   this.$refs.productForm.resetValidation()
  // }

}
</script>

<style>

</style>