<template>
<div>
  <v-card>
    <v-card-title>
      <span class="headline">{{this.titleAction}} tipo</span>
    </v-card-title>

    <v-card-text>
      <v-container>
        <v-form ref="typeForm" v-model="valid">
          <v-row>
            <v-col cols="2">
              <v-text-field disabled v-model.number="type_id" label="Id"></v-text-field>
            </v-col>
            <v-col cols="4">
              <v-text-field v-model="type_name" label="Nombre" :rules="requiredRule"></v-text-field>
            </v-col>
            <v-col cols="4">
              <v-row>
                <span class="caption">Ícono</span>
              </v-row>
              <v-dialog v-model="typeIconsModal" persistent max-width="820">
                <template v-slot:activator="{ on }">
                  <v-btn class="grey darken-2" text v-on="on" >
                    <v-icon> {{icon || 'mdi-menu-down'}}</v-icon>
                  </v-btn>
                </template>
                <TypeIconsModal v-on:selectIcon="selectIcon"/>
              </v-dialog>
            </v-col>
          </v-row>
        </v-form>
      </v-container>
    </v-card-text>

    <v-card-actions>
      <div class="flex-grow-1"></div>
      <v-btn text @click="close">Cancel</v-btn>
      <v-btn text @click="save">Save</v-btn>
    </v-card-actions>
  </v-card>

	

</div>
</template>

<script>
import TypeIconsModal from '../../typesModule/typeIconsModal'

export default {
  props: {
    item: Object,
    action: String
  },
  components: {
    TypeIconsModal
  },
  data() {
    return {
      valid: true,
      typeIconsModal: false,
      requiredRule: [v => !!v || 'Este campo es obligatorio'],
			itemToSave : {
				type_id: this.item.type_id,
      	type_name: this.item.type_name,
      	type_icon: this.item.type_icon,
      },
      
      icon: this.item.type_icon

    }
  },
  computed: {
    titleAction: function() {
      switch (this.action) {
        case 'create':
          return 'Crear nuevo'
        case 'update':
          return 'editar'
      }
    },
    type_id: function() { return this.item.type_id},
    type_name: {
      get() {return this.item.type_name},
      set(value) { this.itemToSave.type_name = value }
    }, 
    type_icon: {
      get() {return this.item.type_icon},
      set(value) { this.itemToSave.type_icon = value; this.icon = value}
    }, 
  },
  methods: {
    selectIcon(typeIcon) {
      this.type_icon = typeIcon
      this.typeIconsModal = false
      console.log(this.icon)
      console.log(this.itemToSave.type_icon)
    },
    close() {
      this.$emit('fromEdit', 'close', false)
    },
    save() {
      if (this.$refs.typeForm.validate()) {
        this.$emit('fromEdit',this.action, this.itemToSave)
      }
    },
  },
  updated() {
    this.$refs.typeForm.resetValidation()
  }
}
</script>

<style>

</style>