<template>
<div>
  <v-card>
    <v-card-title>
      <span class="headline">Editar las opciones de {{product_name}}</span>
      <v-spacer/>
      <v-btn color="primary" dark class="ml-4" @click="CRUD('create')">Nueva Opción</v-btn>
    </v-card-title>

    <v-card-text>
      <v-container>
        <!-- <v-form ref="productForm" v-model="valid"> -->
          <v-row>
            <v-col v-for="group in optionsGrouped" :key="group.option_group_id">
              <v-card >
                <v-card-title>{{group.option_group_name}}</v-card-title>
                <v-card-text>
                  <div class="d-flex flex-column"> 
                    <v-checkbox
                      hide-details
                      v-for="option in group.options"
                      color="primary" 
                      :key="option.option_id"
                      :input-value="option.product_id"
                      @change="updateOptions($event, option.option_id)"
                    >
                      <template v-slot:label>
                        <div :class="{enabled: newProductOptions[option.option_id], disabled: !newProductOptions[option.option_id]
                        }">{{option.option_name}}</div>
                        <!-- <div :class="[value ? enabled : disabled]">{{option.option_name}}</div> -->
                      </template>
                    </v-checkbox> 
                  </div>
                </v-card-text>
              </v-card>
            </v-col>
          </v-row>
            
        <!-- </v-form> -->
      </v-container>
    </v-card-text>

  </v-card>

	<v-dialog v-model="newFormDialog" max-width="1000px" persistent>
     <NewOptionForm v-if="newFormDialog" :item="{}" :action="action" v-on:fromEdit="formActions"/> 
  </v-dialog>

  <v-dialog v-model="confirmModal" persistent max-width="350">
     <ConfirmModal :modalData="modalData" :action="action" v-on:confirmAction="confirmAction"/> 
  </v-dialog>

</div>
</template>

<script>
import adminRequests from '../../mixins/adminRequests'
import NewOptionForm from './newOptionForm'
import ConfirmModal from '../../commonComponents/confirmModal'
import { mapState, mapActions } from 'vuex'

export default {
  mixins: [adminRequests],
  components: {
    NewOptionForm,
    ConfirmModal
  },
  data() {
    return {
      product_options: [],

      // New Type data
      newFormDialog: false,
      itemToEdit: {},
      itemToConfirm: {},
      action: '',
      dialog: false,
      confirmModal: false,
      modalData: {},
    }
  },
  computed: {
    ...mapState({
      product_name: state => state.newProduct.product.product_name,
      type_id: state => state.newProduct.product.type_id,
      newProductOptions: state => state.newProduct.product.options
      // product_id: state => 201,
    }),
    optionsGrouped: function() {
      let optionsGroups = []
      this.product_options.forEach(row => {
        const index = optionsGroups.findIndex(option => {return option.option_group_id == row.option_group_id})
        if (index >= 0) { // Checks if the group is already in the array
          //let rowOptions = {option_name: row.option_name, option_id: row.option_id}
          optionsGroups[index].options.push(row)
        } else {
          row.options = [row]
          optionsGroups.push(row)
        }
        this.newProductOptions[row.option_id] = row.product_id
      })
      return optionsGroups
    }
  },
  methods: {
    ...mapActions('newProduct',['updateOptions']),
    updateOptions (value, option_id) {
      this.$store.dispatch('newProduct/updateOptions', {value, option_id})
    },
    CRUD(action, item = {}) {
      this.action = action
      // this.itemToEdit = item

      if (action === 'delete') {
        this.formActions(action, item)
      } else {
        this.newFormDialog = true
      }
    },
    resetParams() {
      this.itemToEdit = {}
      this.itemToConfirm = {}
      this.action = ''
      this.newFormDialog = false
      this.confirmModal = false
      this.modalData = {}
    },
    formActions(action, itemToSave) {
      if (action === 'close') {
        this.resetParams()
      } else {

        let actionText
        switch (action) {
          case 'create':
            actionText = 'crear'
            break;
          case 'update':
            actionText = 'editar'
            break;
          case 'delete':
            actionText = 'borrar'
            break;
        } 

        this.modalData = {
          actionText,
          element: 'opción',
          item: itemToSave.option_name
        }
        this.action = action
        this.itemToConfirm = itemToSave
        this.confirmModal = true
      }
    },
    confirmAction(confirmation, action) {
      if (confirmation) {
        this.executeCRUD(this.itemToConfirm, action, 'option').then(confirmation => {
          if (confirmation.res == 'ok') {
            this.resetParams()
            this.fetchTypes().then(types => this.types = types)
          } else {
            console.log(confirmation)
          }
        })
      }
      this.resetParams()
    }
  },
  created() {
    this.fetchOptionsByType(this.type_id).then(product_options => {
      this.product_options = product_options
      console.log(product_options)
      console.log('creadooo')
    })
  },
  // updated() {
  //   this.$refs.productForm.resetValidation()
  // }

}
</script>

<style>
.enabled {
  color: #FFC107;
  font-weight: bold
}

.disabled {
  text-decoration: line-through
}

</style>