<template>
<div>
  <v-card>
    <v-card-text>
      <v-container>
        <v-form ref="stepperForm" v-model="valid">
          <v-row>
            <v-col cols="6">
							<v-select
								:items="types"
                :value="type_id"
								label="Tipo del producto"
								item-value="type_id"
                item-text="type_name"
								@input="updateField($event.type_id, 'type_id')"
                :rules="requiredRule"
                return-object
							></v-select>
            </v-col>
            <v-col cols="2">
							<!-- <v-icon>{{types[type_id].type_icon}}</v-icon> -->
						</v-col>
            <v-col cols="4">
							<v-btn color="primary" dark @click="CRUD('create')">Nuevo Tipo</v-btn>
						</v-col>
          </v-row>
        </v-form>
      </v-container>
    </v-card-text>

  </v-card>

	<v-dialog v-model="newFormDialog" max-width="500px" persistent>
     <NewTypeForm v-if="newFormDialog" :item="{}" :action="action" v-on:fromEdit="formActions"/> 
  </v-dialog>

  <v-dialog v-model="confirmModal" persistent max-width="350">
     <ConfirmModal :modalData="modalData" :action="action" v-on:confirmAction="confirmAction"/> 
  </v-dialog>
</div>
</template>

<script>
import adminRequests from '../../mixins/adminRequests'
import NewTypeForm from './newTypeForm'
import ConfirmModal from '../../commonComponents/confirmModal'
import { mapState, mapActions } from 'vuex'

export default {
  mixins: [adminRequests],
  components: {
    NewTypeForm,
    ConfirmModal
  },
	data() {
    return {
      valid: true,
			requiredRule: [v => !!v || 'Este campo es obligatorio'],
      types: [],
      
      // New Type data
      newFormDialog: false,
      itemToEdit: {},
      itemToConfirm: {},
      action: '',
      dialog: false,
      confirmModal: false,
      modalData: {},

    }
  },
  computed: {
    ...mapState({
      type_id: state => state.newProduct.product.type_id,
    })
  },
  methods: {
    ...mapActions('newProduct',['updateField']),
    updateField (value, field) {
      this.$store.dispatch('newProduct/updateField', {value, field})
    },
    consolear(e) {
      console.log(e)
    },
    CRUD(action, item = {}) {
      this.action = action
      // this.itemToEdit = item

      if (action === 'delete') {
        this.formActions(action, item)
      } else {
        this.newFormDialog = true
      }
    },
    resetParams() {
      this.itemToEdit = {}
      this.itemToConfirm = {}
      this.action = ''
      this.newFormDialog = false
      this.confirmModal = false
      this.modalData = {}
    },
    formActions(action, itemToSave) {
      if (action === 'close') {
        this.resetParams()
      } else {

        let actionText
        switch (action) {
          case 'create':
            actionText = 'crear'
            break;
          case 'update':
            actionText = 'editar'
            break;
          case 'delete':
            actionText = 'borrar'
            break;
        } 

        this.modalData = {
          actionText,
          element: 'tipo',
          item: itemToSave.type_name
        }
        this.action = action
        this.itemToConfirm = itemToSave
        this.confirmModal = true
      }
    },
    confirmAction(confirmation, action) {
      if (confirmation) {
        this.executeCRUD(this.itemToConfirm, action, 'type').then(confirmation => {
          if (confirmation.res == 'ok') {
            this.resetParams()
            this.fetchTypes().then(types => this.types = types)
          } else {
            console.log(confirmation)
          }
        })
      }
      this.resetParams()
    }
  },
  created() {
    this.fetchTypes().then(types => {
      this.types = types
      console.log(this.types)
    })
  },
    // close() {
    //   this.$emit('fromEdit', 'close', false)
    // },
    // save() {
    //   if (this.$refs.productForm.validate()) {
    //     !this.itemToSave.type_id ? this.itemToSave.type_id = 0 : null
    //     this.$emit('fromEdit',this.action, this.itemToSave)
    //   }
    // },

}
</script>

<style>

</style>