<template>
    <v-card>
      <v-card-title class="headline">ATENCIÓN</v-card-title>
      <v-container>
        <v-card-text>¿Estás seguro que querés {{modalData.actionText}} el {{modalData.element}} <strong class="primary--text">{{modalData.item}}</strong>?</v-card-text>
      </v-container>
      <v-card-actions>
        <div class="flex-grow-1"></div>
        <v-btn color="green darken-1" text @click="confirm(true)">CONFIRMAR</v-btn>
        <v-btn color="green darken-1" text @click="confirm(false)">CANCELAR</v-btn>
      </v-card-actions>
    </v-card>
</template>

<script>
export default {
  props: {
    modalData: Object,
    action: String
  },
  methods: {
    confirm(confirmation) {
      this.$emit('confirmAction', confirmation, this.action)
    }
  }
}
</script>