<template>
<div>
  <v-snackbar v-model="snackMsg" :color="color" :timeout="9000">
      {{ text }}
    <!-- <v-btn
      color="pink"
      text
      @click="snackMsg = false"
    >
      Cerrar
    </v-btn> -->
  </v-snackbar>

</div>
</template>

<script>
// import { mapGetters } from 'vuex'
export default {
  data() {
    return {
    // snackMsg: this.$store.state.notifications.snackMsg,
      // color: 'success', // success, warning, error
      // text: '',
    }
  },
  computed: {
    snackMsg: {
      get () {
        return this.$store.state.notifications.snackMsg
      },
      set (value) {
        this.$store.dispatch('notifications/updateSnack', value)
      }
    },
    // snackMsg: function(){
    //   return this.$store.state.notifications.snackMsg
    // },
    color: function() {
      return this.$store.state.notifications.color;
    },
    text: function() {
      return this.$store.state.notifications.text;
    }
  },
}
</script>

<style>

</style>