<template>
	<v-card>
		<template v-if="src">
			<v-img :src="src">
				<v-card-title class="headline">{{product_name}}</v-card-title>
				<v-btn class="transparent" small top right absolute @click="close"><v-icon>mdi-close</v-icon></v-btn>

				<v-dialog v-model="dialog" persistent max-width="320">
					<template v-slot:activator="{ on }">
						<v-btn small bottom right absolute v-on="on"><v-icon>mdi-delete</v-icon></v-btn>
					</template>
					<v-card>
						<v-card-title class="headline">Eliminar foto</v-card-title>
						<v-card-text>¿Confirmas que eliminas la foto?</v-card-text>
						<v-card-actions>
							<v-spacer></v-spacer>
							<v-btn color="green darken-1" text @click="imgCRUD('')">Confirmar</v-btn>
							<v-btn color="green darken-1" text @click="close">Cancelar</v-btn>
						</v-card-actions>
					</v-card>
				</v-dialog>
			</v-img>
		</template>

		<template v-else>
			<v-card-title class="headline">{{product_name}}</v-card-title>
			<v-file-input
				label="Imagen del producto"
				filled
				prepend-icon="mdi-camera"
				accept="image/*"
				@change="sendImg($event)"
			></v-file-input>
			<v-card-actions>
				<v-spacer></v-spacer>
				<v-btn color="green darken-1" text @click="imgCRUD(imgPath)">Confirmar</v-btn>
				<v-btn color="green darken-1" text @click="close">Cancelar</v-btn>
			</v-card-actions>
		</template>
		
	</v-card>
</template>

<script>
import adminRequests from './../mixins/adminRequests'

export default {
	mixins: [adminRequests],
	props: {
		imgSrc: String,
		product_id: Number,
		product_name: String
	},
	data() {
		return {
			state: '',
			dialog: false,
			imgPath: '',
			src: this.imgSrc
		}
	},
	watch: {
		imgSrc: function(n, o) {
			this.src = n
		}
	},
	computed: {
		// src: {
		// 	get: function () {
		// 		return this.imgSrc
		// 	},
		// 	set: function (newValue) {
		// 		return newValue
		// 	}
		// }
	},
	methods: {
		imgCRUD(img) {
			const item = {
				product_id: this.product_id,
				img
			}
			this.executeCRUD(item, 'update', 'product').then(confirmation => {
				this.state = confirmation.msg
				this.imgPath = ''
			})
		},
		sendImg(img) {
			// this.imgIcon = 'mdi-loading mdi-spin'
      // this.imgLoaded = true
			this.uploadImg(img, undefined).then(confirmation => {
				this.imgPath = confirmation.imgPathTo
				// this.imgIcon = 'mdi-eye'
				// this.imgLoaded = true
				console.log('confirm: ', confirmation)
				this.displayImg(confirmation.img.data)
			})
		},
		displayImg(img) {
			console.log('mig: ', img)
      let TYPED_ARRAY = new Uint8Array(img);
      const STRING_CHAR = String.fromCharCode.apply(null, TYPED_ARRAY);
      let base64String = btoa(STRING_CHAR);
			this.src = 'data:image/jpg;base64, ' + base64String
			console.log('this.src: ',this.src)
    },
		close() {
			this.$emit('closeModal')
		}
	},
	created() {
	}

}
</script>

<style>

</style>