<template>
   <v-card>
    <v-card-title>
      Productos
      <div class="flex-grow-1"></div>
      <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        label="Buscar"
        single-line
        hide-details
      ></v-text-field>
        <v-btn color="primary" dark class="ml-4" @click="$router.push('/newProduct')">Nuevo Producto</v-btn>
        <!-- <v-btn color="primary" dark class="ml-4" @click="CRUD('create')">Nuevo Producto</v-btn> -->
    </v-card-title>
    <v-data-table
      :headers="headers"
      :items="products"
      :search="search"
      loading-text="Cargando..."
      :footer-props="{
				itemsPerPageOptions: [100, 50, 25, -1],
        itemsPerPage: 100
			}"
    >

      <template v-slot:item.available="props">
        <td><v-checkbox color="primary" :input-value="props.item.available == true" @change="enable($event, props.item.product_id)"></v-checkbox></td>
      </template>

      
      <template v-slot:item.img="{ item }">
        <v-icon
          small
          @click="viewImg(item)"
        >
          mdi-eye
        </v-icon>
      </template>

      <template v-slot:item.action="{ item }">
        <v-icon
          small
          @click="CRUD('update', item)"
        >
          mdi-pencil
        </v-icon>
        <v-icon
          small
          @click="CRUD('delete', item)"
        >
          mdi-delete
        </v-icon>
         <v-icon
          small
          @click="$router.push({name: 'productOptionsForm', params: {product_id: item.product_id, product_name: item.product_name}})"
        >
          mdi-nutrition
        </v-icon>
      </template>
    </v-data-table>

    <v-dialog v-model="imgModal" max-width="500px">
      <AdminModalImg :imgSrc="imgSrc" :product_name="product_name" :product_id="product_id" v-on:closeModal="closeModal"/>
    </v-dialog>

    <v-dialog v-model="dialog" max-width="500px" persistent>
      <ProductForm v-if="dialog" :item="itemToEdit" :action="action" v-on:fromEdit="formActions"/>
    </v-dialog>

    <v-dialog v-model="confirmModal" persistent max-width="350">
      <ConfirmModal  :modalData="modalData" :action="action" v-on:confirmAction="confirmAction"/>
    </v-dialog>

    
  </v-card>
</template>

<script>
import adminRequests from '../mixins/adminRequests.vue'
import ProductForm from './productForm'
import ConfirmModal from '../commonComponents/confirmModal'
import AdminModalImg from './adminModalImg'

export default {
  mixins: [adminRequests],
  components: {
    ProductForm,
    ConfirmModal,
    AdminModalImg
  },
  data () {
    return {
      dialog: false,
      confirmModal: false,
      imgModal: false,
      modalData: {},
      search: '',
      available: [],
      headers: [
        {
          text: 'Id',
          align: 'left',
          sortable: false,
          value: 'product_id',
        },
        { text: 'Nombre', value: 'product_name' },
        { text: 'Ingredientes', value: 'desc_short', filterable: false, sortable: false },
        { text: 'Descripción', value: 'desc_long', filterable: false, sortable: false },
        { text: 'Precio', value: 'product_price' },
        { text: 'Tipo', value: 'type_name' },
        { text: 'Imagen', value: 'img', filterable: false, sortable: false, align: 'center' },
        { text: 'Disponible', value: 'available', sortable: false, filterable: false },
        { text: 'Acciones', value: 'action', sortable: false, filterable: false }
      ],

      products: [],

      itemToEdit: {},
      imgSrc: '',
      product_name: '',
      product_id: '',
      itemToConfirm: {},
      action: ''
      
    }
  },
  computed: {
  },
  
  methods: {
    enable(val, product_id) {
      this.toggleAvailability(val, product_id)
    },
    closeModal() {
      this.imgModal = false
      this.imgSrc = ''
      this.product_name = '',
      this.product_id = 0
    },
    viewImg(item) {
      if (item.img) {
        let base64String = btoa(item.img)
        this.imgSrc = 'data:image/jpg;base64, ' + base64String
      } else {
        this.imgSrc = ''
      }
        this.product_id = item.product_id
        this.product_name = item.product_name
        this.imgModal = true
    },
    CRUD(action, item = {}) {
      this.action = action
      this.itemToEdit = item

      if (action === 'delete') {
        this.formActions(action, item)
      } else {
        this.dialog = true
      }
    },
    resetParams() {
      this.itemToEdit = {}
      this.itemToConfirm = {}
      this.action = ''
      this.dialog = false
      this.confirmModal = false
      this.modalData = {}
    },
    formActions(action, itemToSave) {
      if (action === 'close') {
        this.resetParams()
      } else {

        let actionText
        switch (action) {
          case 'create':
            actionText = 'crear'
            break;
          case 'update':
            actionText = 'editar'
            break;
          case 'delete':
            actionText = 'borrar'
            break;
        } 

        this.modalData = {
          actionText,
          element: 'producto',
          item: itemToSave.product_name
        }
        this.action = action
        this.itemToConfirm = itemToSave
        this.confirmModal = true
      }
    },
    confirmAction(confirmation, action) {
      if (confirmation) {
        this.productCRUD(this.itemToConfirm, action).then(confirmation => {
          if (confirmation.res == 'ok') {
            this.resetParams()
            this.fetchProducts().then(products => this.products = products)
          } else {
            console.log(confirmation)
          }
        })
      }
      this.resetParams()
    }
  },
  created() {
    this.fetchProducts().then(products => this.products = products)
  }
}
</script>

<style>

</style>