<template>
<div>
  <v-card>
    <v-card-title>
      <span class="headline">{{this.titleAction}} producto</span>
    </v-card-title>

    <v-card-text>
      <v-container>
        <v-form ref="productForm" v-model="valid">
          <v-row>
            <v-col cols="2">
              <v-text-field disabled v-model.number="product_id" label="Id"></v-text-field>
            </v-col>
            <v-col cols="5">
              <v-text-field v-model="product_name" label="Nombre" :rules="requiredRule"></v-text-field>
            </v-col>
            <v-col cols="5">
              <v-text-field v-model="img" label="Imagen" ></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-text-field v-model="desc_short" label="Ingredientes" :rules="requiredRule"></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-text-field v-model="desc_long" label="Descripción" ></v-text-field>
            </v-col>
            <v-col cols="3">
              <v-text-field v-model.number="product_price" type="number" label="Precio" :rules="requiredRule"></v-text-field>
            </v-col>
            <v-col cols="6">
              <v-autocomplete v-model="type_id" label="Tipo" :items="types" item-text="type_name" item-value="type_id" ></v-autocomplete>
            </v-col>
          </v-row>
        </v-form>
      </v-container>
    </v-card-text>

    <v-card-actions>
      <div class="flex-grow-1"></div>
      <v-btn text @click="close">Cancel</v-btn>
      <v-btn text @click="save">Save</v-btn>
    </v-card-actions>
  </v-card>

	

</div>
</template>

<script>
import adminRequests from "../mixins/adminRequests"

export default {
  props: {
    item: Object,
    action: String
  },
	mixins: [adminRequests],
  data() {
    return {
      valid: true,
      requiredRule: [v => !!v || 'Este campo es obligatorio'],
			itemToSave : {
				product_id: this.item.product_id,
      	product_name: this.item.product_name,
      	desc_short: this.item.desc_short,
      	desc_long: this.item.desc_long,
      	product_price: this.item.product_price,
      	type_id: this.item.type_id,
      	img: this.item.img,
			},
			
			

			types: []
    }
  },
  computed: {
    titleAction: function() {
      switch (this.action) {
        case 'create':
          return 'Crear nuevo'
        case 'update':
          return 'Editar'
      }
    },
    product_id: function() { return this.item.product_id},
    product_name: {
      get() {return this.item.product_name},
      set(value) { this.itemToSave.product_name = value }
    }, 
    desc_short: {
      get() {return this.item.desc_short},
      set(value) { this.itemToSave.desc_short = value }
    }, 
    desc_long: {
      get() {return this.item.desc_long},
      set(value) { this.itemToSave.desc_long = value }
    }, 
    product_price: {
      get() {return this.item.product_price},
      set(value) { this.itemToSave.product_price = value }
    }, 
    type_id: {
      get() {return this.item.type_id || 0},
      set(value) { this.itemToSave.type_id = value }
    }, 
    img: {
      get() {return this.item.img},
      set(value) { this.itemToSave.img = value }
    }
  },
  methods: {
    close() {
      this.$emit('fromEdit', 'close', false)
    },
    save() {
      if (this.$refs.productForm.validate()) {
        !this.itemToSave.type_id ? this.itemToSave.type_id = 0 : null
        this.$emit('fromEdit',this.action, this.itemToSave)
      }
    },
  },
  created() {
    this.fetchTypes().then(types => this.types = types)
    console.log(this.item)
  },
  updated() {
    this.$refs.productForm.resetValidation()
  }

}
</script>

<style>

</style>