<template>
  <v-container>

    <h2 class="mb-2">Timing</h2>
    <OrdersTiming class="my-4"/>
    
    <!-- <h2 class="mb-2">Configuración del Timing</h2> -->
    <TimingConfig class="my-4"/>

    <v-divider class="mb-4"/>

    <h2 class="mb-2">Horario</h2>
    <HoursConfig class="my-4"/>

    <v-divider class="mb-4"/>

    <h2 class="mb-2">Pago</h2>
    <MustPay/>
  </v-container>
</template>

<script>
import OrdersTiming from './ordersTiming'
import TimingConfig from './timingConfig'
import HoursConfig from './hoursConfig'
import MustPay from './mustPay'

export default {
  components: {
    OrdersTiming,
    TimingConfig,
    HoursConfig,
    MustPay
  }
}
</script>

<style>

</style>