<template>
  <v-card>
    <!-- <v-card-title>Horario</v-card-title> -->
    <span class="overline pl-4 ">En Queue tomamos un día completo desde la apertura al cierre.</span>
    <p class="overline pl-4 ">Las órdenes después de las 12 de la noche se consideran del día anterior</p>
    <v-row>
      <v-col cols="3">
        <v-subheader class="pt-5">Horario de apertura: </v-subheader>
      </v-col>
      <v-col cols="3">
        <v-text-field hide-details v-model="opens" type="time" @change="updateHoursConfig('opens', $event)"></v-text-field>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="3">
        <v-subheader class="pt-5">Horario de cierre: </v-subheader>
      </v-col>
      <v-col cols="3">
        <v-text-field hide-details v-model="closes" type="time" @change="updateHoursConfig('closes', $event)"></v-text-field>
      </v-col>
    </v-row>
  </v-card>  
</template>

<script>
import adminRequests from '../mixins/adminRequests'
export default {
  mixins: [adminRequests],
  data() {
    return {
      opens: '',
      closes: ''
    }
  },
  methods: {
    updateHoursConfig(field, value) {
      if (!value) {
        console.log('Sin value')
      } else {
        this.updateConfig(field, value).then(res => {
          const resStatus = this.checkResponse(res)
        })
      }
    }
  },
  created() {
    this.fetchConfig('opens').then(result => {
      if (result.opens.length == 7) {
        result.opens = '0' + result.opens
      } 
      this.opens = result.opens
    })
    this.fetchConfig('closes').then(result => {
      if (result.closes.length == 7) {
        result.closes = '0' + result.closes
      } 
      this.closes = result.closes
    })
  },
}
</script>

<style>

</style>