<template>
  <!-- <v-checkbox v-model="must_pay" label="¿Debe pagar al hacer la orden?" @change="updateMustPay('must_pay', $event)"></v-checkbox> -->
  <v-switch v-model="must_pay" color="primary" :label="`Debe pagar ${labelText}`" @change="updateMustPay('must_pay', $event)"></v-switch>
</template>

<script>
import adminRequests from '../mixins/adminRequests'
export default {
  mixins: [adminRequests],
  data() {
    return {
      must_pay: '',
      labelText: ''
    }
  },
  methods: {
    updateMustPay(field, value) {
      this.updateConfig(field, value).then(res => {
        const resStatus = this.checkResponse(res)
      })
    }
  },
  watch: {
    must_pay: function(n, o) {
      n ? this.labelText = 'al realizar la orden.' : this.labelText = 'al retirarse.'
    }
  },
  created() {
    this.fetchConfig('must_pay').then(result => this.must_pay = result.must_pay)
  }
}
</script>

<style>

</style>