<template>
<v-row>
  <v-col cols="4">
    <v-card max-width="280px">
      <v-card-title>
        Timing de las órdenes
        <div class="flex-grow-1"></div>
        
      </v-card-title>
      <v-data-table
        :headers="headers"
        :items="timings"
        loading-text="Cargando..."
        hide-default-footer
      >

        <template v-slot:top>
          <!-- <v-card-title>Agregar Nuevo Timing</v-card-title> -->
          <p class="overline pl-4 ">Es el tiempo estimado que lleva preparar las órdenes.</p>
        </template>

        <!-- UPDATE TIMING -- TO_ORDER -->
        <template v-slot:item.to_order="props">
          <span class="font-italic font-weight-bold">
            <v-edit-dialog
              :return-value.sync="props.item.to_order"
              @save="CRUD('update', props.item, 'to_order')"
            > {{ props.item.to_order }}
              <template v-slot:input>
                <v-text-field
                  v-model="props.item.to_order"
                  :rules="[requiredRule]"
                  label="Editar"
                  single-line
                  type="number"
                  max="999"
                ></v-text-field>
              </template>
            </v-edit-dialog>
          </span>
        </template>

        <!-- UPDATE TIMING -- Minutes -->
        <template v-slot:item.minutes="props">
          <span class="font-italic font-weight-bold">
            <v-edit-dialog
              :return-value.sync="props.item.minutes"
              @save="CRUD('update', props.item, 'minutes')"
            > {{ props.item.minutes }}
              <template v-slot:input>
                <v-text-field
                  v-model="props.item.minutes"
                  :rules="[requiredRule]"
                  label="Editar"
                  single-line
                  type="number"
                  max="999"
                ></v-text-field>
              </template>
            </v-edit-dialog>
          </span>
        </template>

        <!-- Action buttons -->
        <template v-slot:item.action="{ item }">
          <v-icon small @click="CRUD('delete', item)">
            mdi-delete
          </v-icon>
        </template>
      </v-data-table>
    </v-card>
  </v-col>

  <v-col cols="8">
    <v-card max-width="460">
      <v-data-table
        :headers="headers"
        :items="newTiming"
        hide-default-footer
      >
        <template v-slot:top>
          <!-- <v-card-title>Agregar Nuevo Timing</v-card-title> -->
          <v-card-title>Agregar Nuevo Timing</v-card-title>
          <p class="overline pl-4 ">Agregá más filas para estimar el tiempo de demora.</p>
        </template>

        <!-- New Timing -- TO_ORDER -->
        <template v-slot:item.to_order="props">
          <span class="font-italic font-weight-bold">
            <v-edit-dialog
              :return-value.sync="props.item.to_order"
            > {{ props.item.to_order }}
              <template v-slot:input>
                <v-text-field
                  v-model="newTiming[0].to_order"
                  :rules="[requiredRule]"
                  label="Editar"
                  single-line
                  type="number"
                  max="999"
                ></v-text-field>
              </template>
            </v-edit-dialog>
          </span>
        </template>

        <!-- New Timing -- Minutes -->
        <template v-slot:item.minutes="props">
          <span class="font-italic font-weight-bold">
            <v-edit-dialog
              :return-value.sync="props.item.minutes"
            > {{ props.item.minutes }}
              <template v-slot:input>
                <v-text-field
                  v-model="newTiming[0].minutes"
                  :rules="[requiredRule, minutesRule]"
                  label="Editar"
                  single-line
                  type="number"
                  max="999"
                ></v-text-field>
              </template>
            </v-edit-dialog>
          </span>
        </template>

        <template v-slot:item.action="{ item }">
          <v-icon small @click="CRUD('create', item)">
            mdi-plus
          </v-icon>
        </template>
      </v-data-table>
    </v-card>

  </v-col>
  
</v-row>
</template>

<script>
import adminRequestsVue from '../mixins/adminRequests.vue'

export default {
  mixins: [adminRequestsVue],
  data () {
    return {
      headers: [
        // { text: 'Desde', value: 'from_order', align: 'left', sortable:false},
        { text: 'Hasta', value: 'to_order', align: 'center', sortable:false},
        { text: 'Minutos', value: 'minutes', align: 'center', sortable:false},
        { text: 'Acciones', value: 'action', align: 'center', sortable: false, width: 8},
      ],
      requiredRule: v => !!v || 'Este campo es obligatorio',
      minutesRule: v => v >= this.lastMinutes || 'No puede ser menor a la anterior cantidad de minutos',

      timings: [],
      lastMinutes: '',
      lastTo_order: '',

      newTiming: [
        {
          to_order: '',
          minutes: ''
        }
      ]
      
    }
  },
  methods: {
    initalLoading() {
      this.fecthTimings().then(timings => {
        this.timings = timings
        this.lastMinutes = timings[timings.length - 1].minutes
        this.lastTo_order = timings[timings.length - 1].lastTo_order
        this.newTiming[0].to_order = timings[timings.length - 1].to_order + 10 // Gets the last order to continue the thread
        this.newTiming[0].minutes = timings[timings.length - 1].minutes + 15 // Gets the last order to continue the thread
      })
    },
    validations(item, field, action) {
      const index = this.timings.findIndex(timing => timing.timing_id == item.timing_id)

      switch (action) {
        case 'update':
          if (index > 0 && item[field] <= this.timings[index - 1][field]) {
            return {
              valid: false,
              msg: 'Debe ser mayor que el anterior'
            }
          }
          if (index < (this.timings.length - 1) && item[field] >= this.timings[index + 1][field]) {
            return {
              valid: false,
              msg: 'Debe ser menor que el siguiente'
            }
          }
        break;

        case 'delete':
          if (this.timings.length == 1) {
            return {
              valid: false,
              msg: 'No se pueden eliminar todos los timings'
            }
          }
        break;

        case 'create': 
          if (item.minutes <= this.lastMinutes || item.to_order <= this.lastTo_order) {
            return {
              valid: false,
              msg: 'Los valores deben ser mayor al timing anterior'
            }
          }
        break;
      }

      return {valid: true}
      
    },
    CRUD(action, item, field) {
      const validation = this.validations(item, field, action)
      if (!validation.valid) {
        this.checkResponse({status: 400, msg: validation.msg})
        console.log('timings: ', this.timings)
        console.log('table: ', this.timingsTable)
        return
      }

      const category = 'timing'
      this.executeCRUD(item, action, category).then(res => {
        const resStatus = this.checkResponse(res)
        this.initalLoading()
      })
    }
  },
  created() {
    this.initalLoading()
  }
}
</script>

<style>

</style>