<template>
  <v-card>
    <v-card-title>Configuración del Timing</v-card-title>
    <span class="overline pl-4 ">Elegí cómo querés que las órdenes se marquen como entregadas.</span>
    <v-row>
      <v-col cols="5">
        <v-radio-group v-model="timing_config" row @change="updateTimingConfig('timing_config', $event)">
          <v-radio label="Manual" color="primary" value="manual">
          </v-radio>
          <v-radio label="Automático" color="primary" value="auto"></v-radio>
        </v-radio-group>
      </v-col>
      <v-col cols="1">
        <v-tooltip bottom>
          <template v-slot:activator="{ on }">
            <v-icon color="primary" dark v-on="on" class="mt-5">mdi-information</v-icon>
          </template>
          <span>
            <p><strong class="amber--text">Manual</strong> si las órdenes se macran entregadas en Queue.</p>
            <span>En <strong class="amber--text">Automático</strong> Queue da por una orden como entregada una vez cumplido el tiempo estimado</span>
          </span>
        </v-tooltip>
      </v-col>
    </v-row>
  </v-card>
</template>

<script>
import adminRequests from '../mixins/adminRequests'
export default {
  mixins: [adminRequests],
  data() {
    return {
      timing_config: ''
    }
  },
  methods: {
    updateTimingConfig(field, value) {
      this.updateConfig(field, value).then(res => {
        const resStatus = this.checkResponse(res)
        // if (resStatus == 'success') {}
      })
    }
  },
  created() {
    this.fetchConfig('timing_config').then(result => this.timing_config = result.timing_config)
  },
}
</script>

<style>

</style>