<template>
  <v-menu
      v-model="showMenu"
      :position-x="x"
      :position-y="y"
      absolute
      offset-y
    >
      <v-list>
        <v-subheader>{Hamburguesa}</v-subheader>
        <v-list-item @click="">
          <v-list-item-title>Eliminar</v-list-item-title>
          <v-list-item-icon>
            <v-icon>mdi-delete-forever</v-icon>
          </v-list-item-icon>
        </v-list-item>
        <v-list-item @click="">
          <v-list-item-title>Editar</v-list-item-title>
          <v-list-item-icon>
            <v-icon>mdi-pencil</v-icon>
          </v-list-item-icon>
        </v-list-item>
      </v-list>
    </v-menu>
</template>

<script>
  export default {
    data: () => ({
      showMenu: false,
      x: 0,
      y: 0,
    }),

    methods: {
      show(e) {
        e.preventDefault()
        this.showMenu = false
        this.x = e.clientX
        this.y = e.clientY
        this.$nextTick(() => {
          this.showMenu = true
        })
      },
    },
  }
</script>

<style>

</style>