<template>
<div>
  <v-row class="d-flex align-center justify-space-between title1">
    <h4  class="orange--text text--accent-4 title text-uppercase">{{type}}</h4><v-icon color="orange accent-4">{{icon}}</v-icon>
  </v-row>
  <hr/>
  
    <template v-for="(item, i) in items" class="d-flex-column">
      <div @click="show($event, item)" :key="i">
        <v-row class="d-flex align-center justify-space-between title1">
          <h4 class="orange--text text--lighten-1 title2">{{item.product_name}} x{{item.quantity}}</h4><h4 class="orange--text text--lighten-1 title2">${{item.order_detail_price}}</h4>
        </v-row>
        <table>
          <tr v-for="(option, j) in item.options" :key="j" >
            <td class="text-capitalize">{{option.option_name}}</td>
            <!-- <td v-if="option.option_price" class="toRight">${{option.option_price}}</td> -->
          </tr>
          <tr v-if="item.order_detail_notes">
            <td class="font-italic font-weight-light">- {{item.order_detail_notes}}</td>
            <td class="toRight"></td>
          </tr>
        </table>
      </div>
    </template>

  <!-- <div v-else @click="backToOrder">
    No pediste nada de {{type}}. ¡Agregá ahora!
  </div> -->
  <!-- ************************************ -->
  <template>
    <v-menu
      v-model="showMenu"
      :position-x="x"
      :position-y="y"
      absolute
      offset-y
    >
      <v-list>
        <v-subheader>{{currentProduct}}</v-subheader>
        <v-list-item @click="">
          <v-list-item-title>Editar</v-list-item-title> <!-- borrar el item, llevar a la pantalla del item con los parámetros -->
          <v-list-item-icon>
            <v-icon>mdi-pencil</v-icon>
          </v-list-item-icon>
        <v-list-item @click="removeItem(currentCartId)">
          <v-list-item-title>Eliminar</v-list-item-title>
          <v-list-item-icon>
            <v-icon>mdi-delete-forever</v-icon>
          </v-list-item-icon>
        </v-list-item>
        </v-list-item>
      </v-list>
    </v-menu>
  </template>
</div>
</template>

<script>
import EditItemMenu from './editItemMenu'
import { mapActions } from 'vuex'

export default {
  components: {
    EditItemMenu
  },
  props: {
    items: Array,
    type: String,
    icon: String
  },
  data(){
    return {
      showMenu: false,
      x: 0,
      y: 0,

      currentProduct: '',
      currentCartId: ''
    }
  },
  methods: {
    ...mapActions(['addItem','deleteItem']),
    show(e, item) {
      e.preventDefault()
      this.currentProduct = item.product_name
      this.currentCartId = item.cartId
      this.showMenu = false
      this.x = e.clientX
      this.y = e.clientY
      this.$nextTick(() => {
        this.showMenu = true
      })
    },
    removeItem(cartId) {
      this.deleteItem(cartId)
      this.$emit('reloadCart')
    },
    // backToOrder() {
    //   this.$router.push({ path: 'menu', query: { type: this.type } })
    // }
  },
  created() {
    console.log(this.$props)
  }
}
</script>

<style >
td{
  padding: 4px 0px;
}

</style>