<template>
<div>
  <v-progress-circular
      :size="98"
      :width="7"
      color="primary"
      indeterminate
    ></v-progress-circular>
  <v-card-text>Estamos preparando tu pedido</v-card-text>
</div>
</template>

<script>
export default {

}
</script>

<style module>

</style>