<template>
    <div>
      <v-card-title class="headline primary--text">¡Orden creada!</v-card-title>
      <v-card-text> Acercate a la caja para pagar tu orden para que podamos empezar a prepararla.</v-card-text>
      <v-card-text> Es la número <strong class="amber--text">{{order_id}}</strong></v-card-text>
      <v-card-actions>
        <div class="flex-grow-1"></div>
        <router-link to="/user"><v-btn color="primary" text >Entendido</v-btn></router-link>
      </v-card-actions>
    </div>
</template>

<script>
export default {
  props: {
    order_id: Number,
    deliver_time: String
  }
}
</script>

<style>

</style>