<template>
  <v-row justify="center">
    <v-dialog v-model="dialog" persistent max-width="290">
      <template v-slot:activator="{ on }">

        <v-btn large color="primary" v-if="orderDisabled" @click="$router.push('/menu')">MENÚ</v-btn>
        <v-btn large color="primary" v-else v-on="on" :disabled="!client">CONFIRMAR</v-btn>
      </template>
      <v-card>
      <component :is="state" :order_id="order_id" :deliver_time="deliver_time"/>
        <v-card-actions v-if="state == 'Waiting'">
          <div class="flex-grow-1"></div>
          <v-btn color="grey" text @click="dialog = false">Volver</v-btn>
          <v-btn color="amber" text @click="makeOrder()">Confirmar</v-btn>
        </v-card-actions>
      </v-card>
      
    </v-dialog>
  </v-row>
</template>

<script>
import Waiting from './waitingOrderConfirmation'
import Success from './successOrderConfirmation'
import Loading from './loadingOrderConfirmation'
import MustPay from './mustPayOrderConfirmation'
import { mapGetters, mapActions } from 'vuex'
import Requests from '../mixins/requests'

export default {
  mixins: [Requests],
  props: {
    client: String,
    order_notes: String,
    order_price: Number
  },
  components: {
    Waiting,
    Success,
    Loading,
    MustPay
  },
  data() {
    return {
      dialog: false,
      state: 'Waiting',

      order_id: '',
      deliver_time: ''

    }
  },
  computed: {
    ...mapGetters(['items']),
		orderDisabled: function() {return this.items[0] ? false : true}
  },
  methods: {
    ...mapActions(['resetCart', 'setToken']),
    makeOrder(client) {
      this.state = 'Loading'
      const main = this.items.some(item => item.type_id == 0)
      const order = {
        client: this.client,
        order_notes: this.order_notes,
        order_price: this.order_price,
        items: this.items,
        main 
      }
      this.confirmOrder(order).then(confirmation => {
        // localStorage.setItem('user', `Bearer: ${confirmation.token}`)
        confirmation.res == 'Success' ? this.resetCart() : null
        confirmation.res == 'Success' ? this.setToken(`Bearer: ${confirmation.token}`) : null
        this.order_id = confirmation.order_id
        this.deliver_time = confirmation.deliver_time
        this.state = confirmation.res
      })
    }
  },
}
</script>

<style>

</style>