<template>
  <v-card
    class="transparent"
  >
    
    <v-list
      two-line
      subheader
      class="pb-0 transparent mx-auto"
      max-width="400px"
    >
        
      <v-list-item> 
        <v-list-item-content>
         <ItemInOrder class="item-in-order" v-for="item in itemsOrdered" v-if="item.items[0]" :key="item.type_id" :items="item.items" :type="item.type_name" :icon="item.type_icon" v-on:reloadCart="reloadCart"/>
        </v-list-item-content>
      </v-list-item>

      <v-list-item>
        <v-list-item-content>
          <hr/>
          <v-row class="d-flex align-center justify-space-between title1">
            <h4  class="orange--text text--accent-4 title">TOTAL</h4><h4 class="orange--text text--accent-4 title2">${{order_price}}</h4>
          </v-row>
          <hr/>
        </v-list-item-content>
      </v-list-item>

      <v-list-item>
        <v-list-item-content>
          <v-textarea
            filled
            no-resize
            hide-details
            rows="3"
            color="orange accent-4"
            name="input-7-1"
            label="Notas"
            v-model="order_notes"
            :readonly="orderView"
          >
          </v-textarea>
        </v-list-item-content>
      </v-list-item>

      <v-list-item v-if="!orderView">
        <v-list-item-content>
          <!-- <v-list-item-subtitle>Completa tu nombre para confirmar la orden</v-list-item-subtitle> -->
            <v-text-field label="Nombre" v-model="client" autofocus hint="Completa tu nombre para confirmar la orden" persistent-hint></v-text-field>
          </v-list-item-content>
      </v-list-item>

      <v-list-item-action class="justify-center align-center row">
        <OrderConfirmModal v-if="!orderView" :order_notes="order_notes" :order_price="order_price" :client="client"/>
        <v-btn v-if="orderView" color="primary" @click="$router.push('/user')">VOLVER</v-btn>
      </v-list-item-action>
    </v-list>
    
  </v-card>

  
</template>

<script>
import { mapGetters } from 'vuex'
import ItemInOrder from './itemInOrder'
import Requests from '../mixins/requests'
import OrderConfirmModal from './orderConfirmModal'

export default {
  components: {
    ItemInOrder,
    OrderConfirmModal
  },
  props: {
    items: Array
  },
  mixins: [Requests],
  // beforeRouteEnter (to, from, next) {
  //     !this.items[0] ? this.$router.push('/menu') : null
  //   },
  data() {
    return {
      client: '',
      order_notes: '',
      itemsInOrder: [],
      types: []
    }
  },
  computed: {
    itemsOrdered: function() { 
      return this.types.map(type => {
        type.items = this.itemsInOrder.filter(item => item.type_id == type.type_id)
        return type
      })
    },
    order_price: function() {
      let priceSum = 0
      this.itemsInOrder.forEach(item => {
        priceSum += parseFloat(item.order_detail_price)
      })
      return priceSum
    },
    orderView: function() {
      return this.items[0].order_id ? true : false
    }
  },
  methods: {
    reloadCart() {
      this.getItemsInOrder(this.items).then(itemsInOrder => this.itemsInOrder = itemsInOrder)
    }
  },
  created() {
    this.fetchTypes().then(types => this.types = types)
    this.getItemsInOrder(this.items).then(itemsInOrder => this.itemsInOrder = itemsInOrder)
    console.log(this.items)
    console.log(this.orderView)
  }
}
</script>

<style>

table {
  width: 100%;
  padding-left: 12px;
}
.toRight {
  text-align: right;
}

/* .item-in-order {
  margin-top: 6px;
} */


</style>