<template>
<div>
  <v-card-title class="headline primary--text">¿Confirmas la orden?</v-card-title>
</div>
</template>

<script>

export default {
  data () {
    return {}
  },
}
</script>

<style>

</style>