<template>
   <v-card>
    <v-card-title>
      Tipos de Producto
      <div class="flex-grow-1"></div>
      <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        label="Buscar"
        single-line
        hide-details
      ></v-text-field>
        <v-btn color="primary" dark class="ml-4" @click="CRUD('create')">Nuevo Tipo</v-btn>
    </v-card-title>
    <v-data-table
      :headers="headers"
      :items="types"
      :search="search"
      loading-text="Cargando..."
      :footer-props="{
				itemsPerPageOptions: [10, 20, 50, -1],
        itemsPerPage: 20
			}"
    >
      <template v-slot:item.icon="props">
        <td><v-icon>{{props.item.type_icon}}</v-icon></td>
      </template>

      <template v-slot:item.action="{ item }">
        <v-icon
          small
          class="mr-2"
         @click="CRUD('update', item)"
        >
          mdi-pencil
        </v-icon>
        <v-icon
          small
          @click="CRUD('delete', item)"
        >
          mdi-delete
        </v-icon>
      </template>
    </v-data-table>


    <v-dialog v-model="dialog" max-width="500px" persistent>
      <TypeForm v-if="dialog" :item="itemToEdit" :action="action" v-on:fromEdit="formActions"/>
    </v-dialog>

    <v-dialog v-model="confirmModal" persistent max-width="350">
      <ConfirmModal :modalData="modalData" :action="action" v-on:confirmAction="confirmAction"/>
    </v-dialog>

    
  </v-card>
</template>

<script>
import adminRequests from '../mixins/adminRequests'
import TypeForm from './typeForm'
import ConfirmModal from '../commonComponents/confirmModal'

export default {
  mixins: [adminRequests],
  components: {
    TypeForm,
    ConfirmModal
  },
  data () {
    return {
      dialog: false,
      confirmModal: false,
      modalData: {},
      search: '',
      headers: [
        {
          text: 'Id',
          align: 'left',
          sortable: false,
          value: 'type_id',
        },
        { text: 'Nombre', value: 'type_name' },
        { text: 'Ícono texto', value: 'type_icon', filterable: false, sortable: false },
        { text: 'Ícono', value: 'icon', filterable: false, sortable: false },
        { text: 'Acciones', value: 'action', sortable: false },
      ],

      types: [],

      itemToEdit: {},
      itemToConfirm: {},
      action: ''

			
      
    }
  },
  computed: {
  },
  
  methods: {
    CRUD(action, item = {}) {
      this.action = action
      this.itemToEdit = item

      if (action === 'delete') {
        this.formActions(action, item)
      } else {
        this.dialog = true
      }
    },
    resetParams() {
      this.itemToEdit = {}
      this.itemToConfirm = {}
      this.action = ''
      this.dialog = false
      this.confirmModal = false
      this.modalData = {}
    },
    formActions(action, itemToSave) {
      if (action === 'close') {
        this.resetParams()
      } else {

        let actionText
        switch (action) {
          case 'create':
            actionText = 'crear'
            break;
          case 'update':
            actionText = 'editar'
            break;
          case 'delete':
            actionText = 'borrar'
            break;
        } 

        this.modalData = {
          actionText,
          element: 'tipo',
          item: itemToSave.product_name
        }
        this.action = action
        this.itemToConfirm = itemToSave
        this.confirmModal = true
      }
    },
    confirmAction(confirmation, action) {
      if (confirmation) {
        this.itemCRUD(this.itemToConfirm, action).then(confirmation => {
          if (confirmation.res == 'ok') {
            this.resetParams()
            this.fetchTypes().then(types => this.types = types)
          } else {
            console.log(confirmation)
          }
        })
      }
      this.resetParams()
    }
  },
  created() {
    this.fetchTypes().then(types => this.types = types)
  }
}
</script>

<style>

</style>