<template>
  <v-container fluid>
    <v-row>
      <v-col cols="12">
        <v-row
          align="center"
          justify="center"
          
        >
          <v-card
            v-for="icon in icons"
            :key="icon"
            class="ma-1 pa-2"
            outlined
            tile
          >
            <v-icon @click="select(icon)">{{icon}}</v-icon>
          </v-card>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import icons from './typeIcons.json'

export default {
  data() {
    return {
      icons
    }
  },
  methods: {
    select(icon) {
      this.$emit('selectIcon', icon)
    }
  }
  
}
</script>