<template>
  <v-card
    class="mx-auto"
    max-width="5000"
    tile
  >
    <v-card-title>Roles</v-card-title>

    <v-list-item three-line>
      <v-list-item-content>
        <v-list-item-title>Admin</v-list-item-title>
        <v-list-item-subtitle>
          Principal administrador. Puede crear y eliminar usuarios y asignar roles.
        </v-list-item-subtitle>
      </v-list-item-content>
    </v-list-item>

    <v-list-item three-line>
      <v-list-item-content>
        <v-list-item-title>Dispatcher</v-list-item-title>
        <v-list-item-subtitle>
          Maneja las órdenes en tiempo real. Puede notificar a los clientes y marcar las órdenes como entregadas.
        </v-list-item-subtitle>
        <!-- <v-list-item-subtitle>
          Puede notificar a los clientes y marcar las órdenes como entregadas.
        </v-list-item-subtitle> -->
      </v-list-item-content>
    </v-list-item>

    <v-list-item three-line>
      <v-list-item-content>
        <v-list-item-title>Cajero</v-list-item-title>
        <v-list-item-subtitle>
          Puede cobrar los pedidos.
        </v-list-item-subtitle>
      </v-list-item-content>
    </v-list-item>

    <v-list-item three-line>
      <v-list-item-content>
        <v-list-item-title>Data admin</v-list-item-title>
        <v-list-item-subtitle>
          Puede ver, crear, modificar productos y todos sus aspectos.
        </v-list-item-subtitle>
      </v-list-item-content>
    </v-list-item>

  </v-card>
</template>

<script>
export default {

}
</script>

<style>

</style>