<template>
  <v-card>
    <v-card-title>
      <span class="headline">{{this.titleAction}} usuario</span>
    </v-card-title>

    <v-card-text>

      <v-form v-model="valid" ref="userForm">
        <v-container>
          <v-row>
            <v-col
              cols="6"
              md="3"
            >
              <v-text-field
                v-model="user_name"
                label="Nombre de Usuario"
                :suffix="'.' + domain"
                hint="Termina con '.' + nombre del comercio."
                persistent-hint
                :rules="[rules.requiredRule, rules.noSpacesRule]"
              ></v-text-field>
            </v-col>

            <v-col
              cols="6"
              md="3"
            >
              <v-text-field
                v-model="person_name"
                label="Nombre"
                :rules="[rules.requiredRule]"
                placeholder="Jhony Burger"
              ></v-text-field>
            </v-col>

            <v-col
              cols="6"
              md="3"
            >
              <v-text-field
                v-model="password"
                label="Contraseña"
                type="password"
                :rules="[rules.requiredRule, rules.noSpacesRule]"
                :disabled="action == 'update'"
              ></v-text-field>
            </v-col>

            <v-col
              cols="6"
              md="3"
            >
              <v-text-field
                v-model="passwordConfirm"
                label="Confirmar Contraseña"
                type="password"
                :rules="[rules.requiredRule, rules.passwordConfirmRule]"
                :disabled="action == 'update'"
              ></v-text-field>
            </v-col>
          </v-row>

          <v-row>
            <v-col>
              <v-divider></v-divider>
              <v-card-title>Roles</v-card-title>
              <template class="d-flex flex-column "> 
                <v-row class="d-flex align-center justify-space-between">
                  <v-checkbox
                      hide-details
                      v-for="role in roles"
                      :label="role.role_name"
                      color="primary" 
                      :key="role.role_id"
                      v-model="userRoles[role.role_id]"
                      @change="changeOption($event, role.role_id)"
                    />
                  <!-- <v-checkbox :label="role.role_name" hide-details :value="role.role_id" v-model="userRoles" color="orange lighten-1"></v-checkbox> -->
                </v-row>
                <v-row>
                  <span v-if="rolesError" class="font-weight-light red--text mt-2">Cada usuario debe tener al menos un rol asignado.</span>
                </v-row>
            </template>
            </v-col>
          </v-row>
        </v-container>
      </v-form>
    </v-card-text>

    <v-card-actions>
      <div class="flex-grow-1"></div>
      <v-btn text @click="close">Cancel</v-btn>
      <v-btn text @click="save">Save</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import adminRequests from '../mixins/adminRequests'

export default {
   props: {
    item: Object,
    action: String
  },
	mixins: [adminRequests],
  data() {
    return {
      valid: true,
      rolesError: false,
      rules: {
        requiredRule: v => !!v || 'Este campo es obligatorio',
        passwordConfirmRule: v => v == this.itemToSave.password || 'Las contraseñas no coinciden',
        noSpacesRule: v => v.indexOf(' ') < 0 || 'Sin espacios',
      },
			itemToSave : {
        user_name: this.item.product_id,
        person_name: this.item.person_name,
        password: this.action == 'update' ? 123456 : '',
      },

      // password: this.action == 'update' ? 123456 : '',
      passwordConfirm: this.action == 'update' ? 123456 : '',

      domain: 'burger', // traerlo
      roles: [],
    }
  },
  computed: {
    titleAction: function() {
      let titleAction
      switch (this.action) {
        case 'create':
          titleAction = 'Crear nuevo'
          break
        case 'update':
          titleAction = 'Editar'
          break
      }
      return titleAction
    },
    userRoles: function() {
      let roles = {}
      if (this.item.roles) {
        this.item.roles.forEach(role => {
          roles[role.role_id] = true
        })
      }
      return roles
    },
    product_id: function() { return this.item.product_id},
    user_name: {
      get() {return this.item.user_name},
      set(value) { this.itemToSave.user_name = value.toLowerCase() }
    }, 
    person_name: {
      get() {return this.item.person_name},
      set(value) { this.itemToSave.person_name = value }
    },
    password: {
      get() {return this.action == 'update' ? 123456 : ''},
      set(value) { this.itemToSave.password = value }
    }
  },
  methods: {
    changeOption(val, role_id) {
      this.userRoles[role_id] = val
    },
    close() {
      this.$emit('fromEdit', 'close', false)
    },
    save() {
      if (this.$refs.userForm.validate() && this.checkRolesError()) {
        this.itemToSave.roles = this.userRoles
        this.itemToSave.user_name += `.${this.domain}`
        this.$emit('fromEdit',this.action, this.itemToSave)
      }
    },
    checkRolesError() {
      if (Object.values(this.userRoles).some(role => role == true)) { // checks if there is any role checked
        this.rolesError = false
        return true 
      } else {
        this.rolesError = true
        return false
      }
    }
  },
  created() {
    this.fetchRoles().then(roles => this.roles = roles)
  },
  updated() {
    this.$refs.userForm.resetValidation()
  }

}
</script>

<style>

</style>