<template>
   <v-card>
    <v-card-title>
      Usuarios
      <div class="flex-grow-1"></div>
      <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        label="Buscar"
        single-line
        hide-details
      ></v-text-field>
        <v-btn color="primary" dark class="ml-4" @click="CRUD('create')">Nuevo Usuario</v-btn>
    </v-card-title>
    <v-data-table
      :headers="headers"
      :items="users"
      :search="search"
      loading-text="Cargando..."
      :footer-props="{
				itemsPerPageOptions: [10, 20, 50, -1],
        itemsPerPage: 20
			}"
    >

    <template v-slot:item.roles="{ item }">
      <span v-for="role in item.roles" :key="role.role_id">{{role.role_name}}, </span>
    </template>
     
      <template v-slot:item.action="{ item }">
        <v-icon
          small
          @click="CRUD('update', item)"
        >
          mdi-pencil
        </v-icon>
        <v-icon
          small
          @click="CRUD('delete', item)"
        >
          mdi-delete
        </v-icon>
         <v-icon
          small
          @click="formActions('reset', item)"
        >
          mdi-lock-question
        </v-icon>
      </template>
    </v-data-table>


    <v-dialog v-model="dialog" max-width="1000px" persistent>
      <AdminUsersForm v-if="dialog" :item="itemToEdit" :action="action" v-on:fromEdit="formActions"/>
    </v-dialog>

    <v-dialog v-model="confirmModal" persistent max-width="350">
      <ConfirmModal :modalData="modalData" :action="action" v-on:confirmAction="confirmAction"/>
    </v-dialog>

    <v-dialog v-model="newPasswordModal" persistent max-width="350">
      <NewPasswordModal :newPassword="newPassword" v-on:fromEdit="formActions"/>
    </v-dialog>

    
  </v-card>
</template>

<script>
import adminRequests from '../mixins/adminRequests'
import AdminUsersForm from './adminUsersForm'
import AdminRolesDesc from './adminRolesDesc'
import ConfirmModal from '../commonComponents/confirmModal'
import NewPasswordModal from './newPasswordModal'


export default {
  mixins: [adminRequests],
  components: {
    AdminUsersForm,
    ConfirmModal,
    AdminRolesDesc,
    NewPasswordModal
  },
  data () {
    return {
      dialog: false,
      confirmModal: false,
      modalData: {},
      search: '',
      headers: [
        {
          text: 'Id',
          align: 'left',
          sortable: false,
          value: 'user_id',
        },
        { text: 'Usuario', value: 'user_name',filterable: true, sortable: true },
        { text: 'Nombre', value: 'person_name', filterable: true, sortable: true },
        { text: 'Roles', value: 'roles', filterable: false, sortable: false },
        { text: 'Acciones', value: 'action', sortable: false },
      ],

      users: [],

      itemToEdit: {},
      itemToConfirm: {},
      action: '',

      newPassword: '',
      newPasswordModal: false

			
      
    }
  },
  computed: {
  },
  
  methods: {
    CRUD(action, item = {}) {
      this.action = action
      this.itemToEdit = item

      if (action === 'delete') {
        this.formActions(action, item)
      } else {
        this.dialog = true
      }
    },
    resetParams() {
      this.itemToEdit = {}
      this.itemToConfirm = {}
      this.action = ''
      this.dialog = false
      this.confirmModal = false
      this.modalData = {}
      this.newPassword = ''
      this.newPasswordModal = false
    },
    formActions(action, itemToSave) {
      if (action === 'close') {
        this.resetParams()
      } else {

        let actionText
        switch (action) {
          case 'create':
            actionText = 'crear'
            break;
          case 'update':
            actionText = 'editar'
            break;
          case 'delete':
            actionText = 'borrar'
            break;
          case 'reset':
            actionText = 'reiniciar la contraseña del'
            break;
        } 

        this.modalData = {
          actionText,
          element: 'usuario',
          item: itemToSave.user_name
        }
        this.action = action
        this.itemToConfirm = itemToSave
        this.confirmModal = true

      }
    },
    confirmAction(confirmation, action) {
      if (confirmation) {
        if (action == 'reset') {
          this.resetPassword(this.itemToConfirm.user_id).then(confirmation => {
            this.newPassword = confirmation.newPassword
            this.newPasswordModal = true
            console.log(confirmation)
          })
        } else {
          this.executeCRUD(this.itemToConfirm, action, 'users').then(confirmation => {
            if (confirmation.res == 'ok') {
              this.resetParams()
              this.fetchUsers().then(users => this.users = users) // this.created()???
            } else {
              console.log(confirmation)
            }
          })
        }
      }
      this.resetParams()
    }
  },
  created() {
    this.fetchUsers().then(users => this.users = users)
  }
}
</script>

<style>

</style>