<template>
    <v-card>
      <v-card-title class="headline">ATENCIÓN</v-card-title>
      <v-container>
        <v-card-text>La nueva constraseña es <strong class="primary--text">{{newPassword}}</strong></v-card-text>
      </v-container>
      <v-card-actions>
        <div class="flex-grow-1"></div>
        <v-btn color="green darken-1" text @click="confirm(false)">ENTENDIDO</v-btn>
      </v-card-actions>
    </v-card>
</template>

<script>
export default {
  props: {
    newPassword: String,
  },
  methods: {
    confirm(confirmation) {
      this.$emit('fromEdit', 'close')
    }
  }
}
</script>