<template>
  <v-app v-if="!loggedIn || resetPassword">
    <router-view></router-view>
  </v-app>
  <v-app v-else-if="loggedIn">
    <v-navigation-drawer
      v-model="drawer"
      app
      clipped
    >
      <SidebarDashboard :roles="roles"/>
    </v-navigation-drawer>

    <v-app-bar
      app
      clipped-left
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"> <v-icon>{{arrowIcon}}</v-icon></v-app-bar-nav-icon>
      <v-toolbar-title>Queue Administrador</v-toolbar-title>
      <v-spacer/>
      <v-btn color="primary" @click="logout">Cerrar Sesión</v-btn>
    </v-app-bar>

    <v-content>
      <v-container
        fluid
      >
        <router-view></router-view>
    <SnackNotification ref="snack"/>
      </v-container>
    </v-content>

    <v-footer app>
      <span>&copy; Queue 2019</span>
    </v-footer>
  </v-app>
</template>

<script>
import SidebarDashboard from "./adminModule/sidebarDashboard"
import SnackNotification from "./commonComponents/snackNotification"
import { mapGetters, mapActions } from 'vuex'

export default {
	components: {
    SidebarDashboard,
    SnackNotification
	},
	data: () => ({
    drawer: null,
  }),
  methods: {
    ...mapActions('auth', ['AUTH_LOGOUT']),
    logout() {
      this.AUTH_LOGOUT().then(() => this.$router.push('/login'))
    }
  },
  computed: {
    ...mapGetters('auth', {loggedIn: 'token', roles: 'roles', resetPassword: 'resetPassword'}),
    arrowIcon: function() {
      return this.drawer ? 'mdi-arrow-left' : 'mdi-menu'
    }
  },
}
</script>