<template>
  <v-content>
    <v-container
      class="fill-height"
      fluid
    >
      <v-row
        align="center"
        justify="center"
      >
        <v-col
          cols="12"
          sm="8"
          md="4"
        >
          <v-card class="elevation-12">
            <v-toolbar
              color="primary"
              dark
              flat
            >
              <v-toolbar-title>Reestablecer Constraseña</v-toolbar-title>
            </v-toolbar>
            <v-card-text>
              <v-form ref="passwordForm">
                <v-text-field
                  label="Usuario"
                  v-model="user_name"
                  prepend-icon="mdi-account"
                  type="text"
                  disabled
                ></v-text-field>

                <v-text-field
                  label="Nombre"
                  v-model="person_name"
                  prepend-icon="mdi-account"
                  type="text"
                  disabled
                ></v-text-field>

                <v-text-field
                  id="password"
                  label="Nueva Contraseña"
                  v-model="password"
                  prepend-icon="mdi-lock"
                  type="password"
                  v-on:keyup.13="submit"
                  :rules="[rules.requiredRule, rules.noSpacesRule]"
                ></v-text-field>

                <v-text-field
                  id="confirmPassword"
                  label="Confirma Contraseña"
                  v-model="confirmPassword"
                  prepend-icon="mdi-lock"
                  type="password"
                  v-on:keyup.13="submit"
                  :rules="[rules.requiredRule, rules.passwordConfirmRule]"
                ></v-text-field>
              </v-form>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="primary" @click="submit">Confirmar</v-btn>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
    </v-container>

  <template>
    <v-row justify="center">
      <v-dialog v-model="passwordConfirmedModal" persistent max-width="290">
        <v-card>
          <v-card-title class="headline">¡Listo!</v-card-title>
          <v-card-text>La contraseña se actualizó correctamente. Volvé a iniciar sesión.</v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="green darken-1" text @click="logout">Aceptar</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
  </template>

  </v-content>
</template>

<script>
import adminMixin from '../mixins/adminRequests'
import { mapActions } from 'vuex'

export default {
  props: {
    user_id: Number
  },
  mixins: [adminMixin],
  data() {
    return {
      passwordConfirmedModal: false,

      person_name: '',
      user_name: '',
      password: '',
      confirmPassword: '',

      rules: {
        requiredRule: v => !!v || 'Este campo es obligatorio',
        passwordConfirmRule: v => v == this.password || 'Las contraseñas no coinciden',
        noSpacesRule: v => v.indexOf(' ') < 0 || 'Sin espacios',
      },
    }
  },
  methods: {
     ...mapActions('auth', ['AUTH_LOGOUT', 'RESET_PASSWORD']),
    submit() { // ver Login
      if (this.$refs.passwordForm.validate()) {
        const userData = {
          user_id: 2, //his.user_id,
          password: this.password
        }
        this.setNewPassword(userData).then(confirmation => {
          console.log(confirmation)
          if (confirmation.res == 'ok') {
            this.passwordConfirmedModal = true
          }
        })
      }
    },
    logout() {
      this.AUTH_LOGOUT().then(() => {
        this.RESET_PASSWORD(false)
        this.$router.push('/login')
      })
    }
  },
  created() {
    console.log('componente: ', this.user_id)
    this.fetchUserData(2).then(user => {
      console.log(user)
      this.person_name = user.person_name
      this.user_name = user.user_name
    })
  }
}

</script>
