<template>
  <v-content>
    <v-container
      class="fill-height"
      fluid
    >
      <v-row
        align="center"
        justify="center"
      >
        <v-col
          cols="12"
          sm="8"
          md="4"
        >
          <v-card class="elevation-12">
            <v-toolbar
              color="primary"
              dark
              flat
            >
              <v-toolbar-title>Login</v-toolbar-title>
            </v-toolbar>
            <v-card-text>
              <v-form >
                <v-text-field
                  label="Usuario"
                  v-model="user_name"
                  prepend-icon="mdi-account"
                  type="text"
                  v-on:keyup.13="submit"
                ></v-text-field>

                <v-text-field
                  id="password"
                  label="Contraseña"
                  v-model="password"
                  prepend-icon="mdi-lock"
                  type="password"
                  v-on:keyup.13="submit"
                ></v-text-field>
              </v-form>
              <span class="error--text" v-if="error">{{errorText}}</span>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="primary" @click="submit">Confirmar</v-btn>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-content>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  data: () => ({
    user_name: '',
    password: '',
    error: false,
    errorText: '',
  }),
  methods: {
    ...mapActions('auth', ['AUTH_REQUEST']),
    async submit() {
      const credentials = {
        user_name: this.user_name,
        password: this.password
      }
      
      this.AUTH_REQUEST(credentials).then((res) => {
        if (res.name == 'Error') {
          console.error(res)
          this.errorText = res.message
          this.error = true
        } else {
          this.errorText = ''
          this.error = false
          this.$router.push('/dashboard')
        }
      })
    }
  }
}

</script>
