<template>
  <v-list dense>

    <v-list-item @click="navigate('/dashboard')">
      <v-list-item-action>
        <v-icon>mdi-view-dashboard</v-icon>
      </v-list-item-action>
      <v-list-item-content>
        <v-list-item-title>Dashboard</v-list-item-title>
      </v-list-item-content>
    </v-list-item>

    <v-divider/>

    <v-list-item @click="navigate('/products')" v-if="roles.some(role => role == 4)">
      <v-list-item-action>
        <v-icon>mdi-food</v-icon>
      </v-list-item-action>
      <v-list-item-content>
        <v-list-item-title>Productos</v-list-item-title>
      </v-list-item-content>
    </v-list-item>

    <v-list-item @click="navigate('/types')" v-if="roles.some(role => role == 4)">
      <v-list-item-action>
        <v-icon>mdi-stove</v-icon>
      </v-list-item-action>
      <v-list-item-content>
        <v-list-item-title>Tipos de productos</v-list-item-title>
      </v-list-item-content>
    </v-list-item>

    <v-list-item @click="navigate('/options')" v-if="roles.some(role => role == 4)">
      <v-list-item-action>
        <v-icon>mdi-food-variant</v-icon>
      </v-list-item-action>
      <v-list-item-content>
        <v-list-item-title>Opciones de productos</v-list-item-title>
      </v-list-item-content>
    </v-list-item>

    <v-divider/>
    
     <!-- <v-list-item @click="navigate('/productsOptions')">
      <v-list-item-action>
        <v-icon>mdi-silverware-clean</v-icon>
      </v-list-item-action>
      <v-list-item-content>
        <v-list-item-title>Opciones de cada producto</v-list-item-title>
      </v-list-item-content>
    </v-list-item> -->

     <v-list-item @click="navigate('/orders')" v-if="roles.some(role => role == 2)">
      <v-list-item-action>
        <v-icon>mdi-silverware-clean</v-icon>
      </v-list-item-action>
      <v-list-item-content>
        <v-list-item-title>Órdenes</v-list-item-title>
      </v-list-item-content>
    </v-list-item>

    <v-divider/>

    <v-list-item @click="navigate('/users')" v-if="roles.some(role => role == 1)">
      <v-list-item-action>
        <v-icon>mdi-account-multiple</v-icon>
      </v-list-item-action>
      <v-list-item-content>
        <v-list-item-title>Usuarios</v-list-item-title>
      </v-list-item-content>
    </v-list-item>

    <v-list-item @click="navigate('/config')" v-if="roles.some(role => role == 1)">
      <v-list-item-action>
        <v-icon>mdi-settings</v-icon>
      </v-list-item-action>
      <v-list-item-content>
        <v-list-item-title>Configuración</v-list-item-title>
      </v-list-item-content>
    </v-list-item>

    <v-divider/>
    
  </v-list>
</template>

<script>
export default {
  props: {
    roles: Array
  },
  data() {
    return {

    }
  },
  methods: {
    navigate(route) {
			this.$router.push(route)
		}
  }

}
</script>

<style>

</style>