<template>
   <v-card>
    <v-card-title>
      Opciones
      <div class="flex-grow-1"></div>
      <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        label="Buscar"
        single-line
        hide-details
      ></v-text-field>
        <v-btn color="primary" dark class="ml-4" @click="CRUD('create')">Nueva Opción</v-btn>
    </v-card-title>
    <v-data-table
      :headers="headers"
      :items="options"
      :search="search"
      loading-text="Cargando..."
      :footer-props="{
				itemsPerPageOptions: [100, 50, 25, -1],
        itemsPerPage: 100
			}"
    >
      <template v-slot:item.option_type="props">
        <td>
          <span v-if="props.item.option_type == 'radio'">Obligatorio</span>
          <span v-if="props.item.option_type == 'checkbox'">Opcional</span>
        </td>
      </template>

      <template v-slot:item.action="{ item }">
        <v-icon
          small
          class="mr-2"
          @click="CRUD('update', item)"
        >
          mdi-pencil
        </v-icon>
        <v-icon
          small
          @click="CRUD('delete', item)"
        >
          mdi-delete
        </v-icon>
      </template>
    </v-data-table>

    <v-dialog v-model="dialog" max-width="1000px" persistent>
      <OptionForm v-if="dialog" ref="dialog"  :item="itemToEdit" :action="action" v-on:fromEdit="formActions"/>
    </v-dialog>

    <v-dialog v-model="confirmModal" persistent max-width="350">
      <ConfirmModal :modalData="modalData" :action="action" v-on:confirmAction="confirmAction"/>
    </v-dialog>

    
  </v-card>
</template>

<script>
import adminRequests from '../mixins/adminRequests.vue'
import OptionForm from './optionForm'
import ConfirmModal from '../commonComponents/confirmModal'

export default {
  mixins: [adminRequests],
  components: {
    OptionForm,
    // NewOptionForm,
    ConfirmModal
  },
  data () {
    return {
      dialog: false,
      newOptionDialog: false,
      confirmModal: false,
      modalData: {},
      search: '',
      headers: [
        { text: 'Id', align: 'left', sortable: false, value: 'option_id' },
        { text: 'Id de grupo', align: 'left', sortable: false, value: 'option_group_id' },
        { text: 'Nombre del grupo', value: 'option_group_name' },
        { text: 'Nombre', value: 'option_name' },
        { text: 'Precio', value: 'option_price' },
        { text: 'Tipo', value: 'option_type',filterable: false, sortable: false },
        { text: 'Acciones', value: 'action', sortable: false },
      ],

      options: [],

      itemToEdit: {},
      itemToConfirm: {},
      action: ''
			
      
    }
  },
  computed: {
  },
  
  methods: {
    CRUD(action, item = {}) {
      this.action = action
      this.itemToEdit = item

      if (action === 'delete') {
        this.formActions(action, item)
      } else {
        this.dialog = true
      }
    },
    resetParams() {
      this.itemToEdit = {}
      this.itemToConfirm = {}
      this.action = ''
      this.dialog = false
      this.confirmModal = false
      this.modalData = {}
    },
    formActions(action, itemToSave) {
      if (action === 'close') {
        this.resetParams()
      } else {

        let actionText
        switch (action) {
          case 'create':
            actionText = 'crear'
            break;
          case 'update':
            actionText = 'editar'
            break;
          case 'delete':
            actionText = 'borrar'
            break;
        } 

        this.modalData = {
          actionText,
          element: 'opción',
          item: itemToSave.product_name
        }
        this.action = action
        this.itemToConfirm = itemToSave
        this.confirmModal = true
      }
    },
    confirmAction(confirmation, action) {
      if (confirmation) {
        this.optionCRUD(this.itemToConfirm, action).then(confirmation => {
          if (confirmation.res == 'ok') {
            this.resetParams()
            this.fetchOptions().then(options => this.options = options)
          } else {
            console.log(confirmation)
          }
        })
      }
      this.resetParams()
    }
  },
  created() {
    this.fetchOptions().then(options => this.options = options)
  }
}
</script>

<style>

</style>