<template>
<div>
  <v-card>
    <v-card-title>
      <span class="headline">{{this.titleAction}} opción</span>
    </v-card-title>

    <v-card-text>
      <v-container>
        <v-form ref="optionForm" v-model="valid">
          <v-row>
            <v-row>
              <v-col cols="2" >
                <v-text-field disabled v-model.number="option_id" label="Id"></v-text-field>
              </v-col>
              <v-col cols="4" >
                <v-autocomplete v-model="optionSelected" :disabled="newGroup" label="¿A qué grupo pertenece?" :items="optionsGroups" item-text="option_group_name" item-value="option_group_id"></v-autocomplete>
              </v-col>
              <v-col cols="4" class="ml-auto">
                <v-switch v-model="newGroup" label="¿Es un grupo nuevo?"></v-switch>
              </v-col>
            </v-row>
            <v-row v-if="newGroup">
              <v-col cols="2">
                <v-text-field label="Id de grupo" disabled v-model="option_group_id"></v-text-field>
              </v-col>
              <v-col cols="3">
                <v-autocomplete v-model="option_type" label="¿A qué tipo pertenece?" :items="types" item-text="type_name" item-value="type_id"></v-autocomplete>
              </v-col>
              <v-col cols="3">
                <v-text-field v-model="option_group_name" label="Nombre de grupo"></v-text-field>
              </v-col>
              <v-col cols="3">
                <v-radio-group label="¿Es opcional, u obligatorio?" v-model="option_type">
                  <v-radio label="Opcional" value="checkbox"/>
                  <v-radio label="Obligatorio" value="radio"/>
                </v-radio-group>
              </v-col>
              <v-col cols="1">
                <v-tooltip top>
                  <template v-slot:activator="{ on }">
                    <v-icon color="primary" dark v-on="on" class="mt-4">mdi-information</v-icon>
                  </template>
                  <span>
                    <p><strong>Obligatorio</strong> puede ser el tipo de pan en una hamburguesa.</p>
                    <span><strong>Opcional</strong> puede ser algún ingrediente extra.</span>
                  </span>
                </v-tooltip>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="3">
                <v-text-field v-model="option_name" label="Nombre de la opción" :rules="requiredRule"></v-text-field>
              </v-col>
              <v-col cols="2">
                <v-text-field v-model.number="option_price" label="Precio"></v-text-field>
              </v-col>
            </v-row>
          </v-row>
        </v-form>
        <v-btn @click="consolear">fds</v-btn>
      </v-container>
    </v-card-text>

    <v-card-actions>
      <div class="flex-grow-1"></div>
      <v-btn text @click="close">Cancel</v-btn>
      <v-btn text @click="save">Save</v-btn>
    </v-card-actions>
  </v-card>

	

</div>
</template>

<script>
import adminRequests from "../mixins/adminRequests"

export default {
  props: {
    item: Object,
    action: String
  },
	mixins: [adminRequests],
  data() {
    return {
      valid: true,
      requiredRule: [v => !!v || 'Este campo es obligatorio'],
      optionSelected: this.item.option_group_id,
      type_id: this.item.option_type,
      newGroup: false,
			itemToSave : {
				option_id: this.item.option_id,
      	option_group_id: this.item.option_group_id,
      	option_group_name: this.item.option_group_name,
      	option_name: this.item.option_name,
      	option_price: this.item.option_price,
      	option_type: this.option_type,
      },

      options: [],
      types: []
    }
  },
  computed: {
    titleAction: function() {
      switch (this.action) {
        case 'create':
          return 'Crear nueva'
        case 'update':
          return 'Editar'
      }
    },
    optionsGroups: function() { 
      let groupsIds = []
      let groups = []
      this.options.forEach(option => {
        if (!groupsIds.includes(option.option_group_id)) {
          groups.push(option)
        }
        groupsIds.push(option.option_group_id)
      })
      return groups 
    },
    option_id: function() { return this.item.option_id},
    option_group_id: function() { return this.item.option_group_id},
    product_id: function() { return this.item.product_id},
    option_group_name: {
      get() {return this.item.option_group_name},
      set(value) { this.itemToSave.option_group_name = value }
    }, 
    option_name: {
      get() {return this.item.option_name},
      set(value) { this.itemToSave.option_name = value }
    }, 
    desc_long: {
      get() {return this.item.desc_long},
      set(value) { this.itemToSave.desc_long = value }
    }, 
    option_price: {
      get() {return this.item.option_price},
      set(value) { this.itemToSave.option_price = value }
    }, 
    option_type: {
      get() {return this.item.option_type},
      set(value) { this.itemToSave.option_type = value }
    }, 
  },
  methods: {
    close() {
      this.$emit('fromEdit', 'close', false)
    },
    save() {
      if (this.$refs.optionForm.validate()) {
        this.$emit('fromEdit', this.action, this.itemToSave)
      }
    },
    consolear() {
      console.log(this.optionSelected)
      console.log(this.type_id)
    }
  },
  created() {
    this.fetchOptions().then(options => this.options = options)
    this.fetchTypes().then(types => this.types = types)
  },
  updated() {
    this.$refs.optionForm.resetValidation()
  },
    
  

}
</script>

<style>

</style>