<template>
	<div> 
		<v-tabs
			v-model="tab"
			show-arrows
			class="tabs"
			grow
    >
      <v-tab
        v-for="type in types"
        :key="type.type_id"
					
      >
        {{ type.type_name }}
      </v-tab>
    </v-tabs>

		<div class="preFixed"></div>
		<v-container class="menu-container">
    <v-tabs-items v-model="tab" class="transparent">

      <v-tab-item
				v-for="type in types"
        :key="type.type_id" >
			<v-row justify="center">
				
				<template v-for="product of products">
    			<ProductMenu v-if="product.type_id == type.type_id" :key="product.product_id" :product="product"/>
				</template>
			</v-row>
      </v-tab-item>

    </v-tabs-items>
		</v-container>
		<v-toolbar class="bottomBar" elevation="0">
			<v-toolbar-items  class="justify-center align-center row " >
				<v-btn @click="goToOrder" :disabled="orderDisabled" color="primary">Ir a la orden</v-btn>
      </v-toolbar-items>
		</v-toolbar>
		<div class="preFixed"></div>

	</div>
</template>

<script>
import ProductMenu from './productMenu'
import Requests from '../mixins/requests'
import { mapGetters } from 'vuex' 

export default {
	name: 'menuComponent',
	mixins: [Requests],
	components: {
		ProductMenu,
	},
	data() {
		return {
			tab: this.$route.query.type,
			// tooltip: false,
			products: [], // fecthed from mixin requests
			types: [] // fecthed from mixin requests
		}
	},
	computed: {
		...mapGetters(['items']),
		orderDisabled: function() {return this.items[0] ? false : true},
		// tab: function() { return this.$route.query.tab || null}
	},
	methods: {
		goToOrder() {
			// this.orderDisabled ? null : this.$router.push(`/order/${JSON.stringify(this.items)}`)
			this.orderDisabled ? null : this.$router.push({name: 'order', params: {items: this.items}})
		}
	},
	created() {
		this.fetchProducts().then(products => this.products = products)
		this.fetchTypes().then(types => this.types = types)
	}
}
</script>

<style scoped>
.menu-container {
	max-width: 1400px;
}

.bottomBar {
	width: 100%;
	position: fixed;
	bottom: 0;
	background-color: transparent;
}
.preFixed {
	height: 56px;
}

.tabs {
	margin-top: 56px;
	position: fixed;
	top: 0;
	z-index: 1;
}

</style>