<template>
<v-col>
  <v-card
  max-width="400px"
  class=""
  >
    <router-link :to="'/product/'+product.product_id">
      <v-img
        class="white--text"
        height="200px"
        src="https://via.placeholder.com/400x200/100"
      >
        <v-card-title class="align-end fill-height">{{product.product_name}}<v-spacer/> <span>${{product.product_price}}</span></v-card-title> 
      </v-img>
    </router-link>

    <v-card-text>
      <span>{{product.desc_short}}</span><br>
      <span class="text--primary">{{product.desc_long}}</span><br>
    </v-card-text>
      
  
  </v-card>
</v-col>
</template>

<script>
export default {
  props: {
    product: Object
  },
  data() {
    return {
    }
  },
  methods: {
  }


}
</script>

<style scoped>
/* .number {
  width: 5px;
} */

</style>