<template>
<v-container>
  <h1>Órdenes</h1>
  <v-row justify="end">
    <UserOrder v-for="order in orders" :key="order.order_id" :order="order"/>
  </v-row>
  <v-tooltip top>
    <template v-slot:activator="{ on }">
      <v-btn
        fixed
        
        bottom
        right
        color="primary"
        v-on="on"
        @click="$router.push('/menu')"
      >
        Agregá un pedido<!-- <v-icon>mdi-plus</v-icon> -->
      </v-btn>
    </template>
    <span>¡Pedí otra!</span>
  </v-tooltip>
  
  
  <!-- <v-bottom-navigation
    :value="activeBtn"
    grow
    color="primary"
    absolute
  >
    <v-btn>
      <span>Órdenes</span>
      <v-icon>mdi-food</v-icon>
    </v-btn>

    <v-btn>
      <span>Favorites</span>
      <v-icon>mdi-heart</v-icon>
    </v-btn>

    <v-btn>
      <span>Nueva orden</span>
      <v-icon>mdi-plus-circle</v-icon>
    </v-btn>
  </v-bottom-navigation> -->

</v-container>
</template>

<script>
import userRequests from '../mixins/userRequests.vue'
import UserOrder from './userOrder'
import { mapGetters } from 'vuex'

export default {
  mixins: [userRequests],
  components: {
    UserOrder
  },
  data() {
    return {
      activeBtn: false,
      orders: []
    }
  },
  computed: {
    ...mapGetters(['token'])
  },
  created() {
    this.fetchUserOrders(this.token).then(orders => {
      console.log(orders)
      this.orders = orders
      // this.order_id = userData[0].order_id
      // this.client = userData[0].client
      // this.deliver_time = userData[0].deliver_time
    }) 
  },
 
}
</script>

<style>

/* .toRightBtn {
  margin: 0 auto;
} */

</style>