<template>
<v-col>
  <v-card
    max-width="360px"
    min-width="280px"
  >
     
    <v-card-text>
      <p>Tu orden está a nombre de <strong class="amber--text">{{order.client}}</strong>.</p>
      <p>Te vamos a llamar con el número <strong class="amber--text">{{order.order_id}}</strong>.</p>
      <span v-if="!order.dispatched">Esperamos tener tu pedido a las <strong class="amber--text">{{order.deliver_time}}</strong>.</span>
      <span v-if="order.dispatched">Esta orden ya fue entregada</strong>.</span>
    </v-card-text>
    <v-card-actions class="justify-end">
      <v-btn color="primary" small class="toRightBtn" @click="goToOrder">Ver Orden</v-btn>
    </v-card-actions>
  </v-card>
</v-col>
</template>

<script>
import userRequests from '../mixins/userRequests.vue'
export default {
  mixins: [userRequests],
  props: {
    order: Object
  },
  data() {
    return {

    }
  },
  methods: {
    goToOrder() {
      this.fecthOrderDetail(this.order.order_id).then(orderDetail => {
        this.$router.push({name: 'order', params: {items: orderDetail}})
        // console.log(orderDetail)
      })
    }
  },
  created() {
  }

/*0:
[
  {
    cartId: 0,
    options: [1,3,5],
    order_detail_notes: ""
    order_detail_price: 220
    product_id: 1
    quantity: 1
  },
  {
    cartId: 0,
    options: [1,3,5],
    order_detail_notes: ""
    order_detail_price: 220
    product_id: 1
    quantity: 1
  },
]
*/
}
</script>

<style>

</style>