<template>
   <v-card>
    <v-card-title>
      Productos
      <div class="flex-grow-1"></div>
      <v-autocomplete
        v-model="search"
        append-icon="mdi-magnify"
        label="Buscar"
        :items="products_options"
        clearable
        item-text="product_name" 
        item-value="product_id"
        single-line
        hide-details
      ></v-autocomplete>
        <v-btn color="primary" dark class="ml-4" @click="newItem">Nueva Opción</v-btn>
        <v-btn color="primary" dark class="ml-4" @click="newItem">Editar Grupos</v-btn>
    </v-card-title>
    <v-data-table
      :headers="headers"
      :items="products_options"
      loading-text="Cargando..."
      :footer-props="{
				itemsPerPageOptions: [100, 50, 25, -1],
        itemsPerPage: 100
			}"
    >
      <template v-slot:item.selected="props">
        <td v-if="props.item.selected"><v-icon>mdi-check</v-icon></td>
      </template>

      <template v-slot:item.action="{ item }">
        <v-icon
          small
          class="mr-2"
          @click="editItem(item)"
        >
          mdi-pencil
        </v-icon>
        <v-icon
          small
          @click="deleteItem(item)"
        >
          mdi-delete
        </v-icon>
       
      </template>
    </v-data-table>


    <v-dialog v-model="dialog" max-width="1000px" persistent>
      <ProductOptionsForm v-if="dialog" :item="itemToEdit.product_id" v-on:fromEdit="formActions"/>
    </v-dialog>

    <v-dialog v-model="confirmModal" persistent max-width="350">
      <ConfirmModal  :modalData="modalData" v-on:confirmAction="confirmAction"/>
    </v-dialog>

    
  </v-card>
</template>

<script>
import adminRequests from '../mixins/adminRequests.vue'
import ProductOptionsForm from './productOptionsForm'
import ConfirmModal from '../commonComponents/confirmModal'

export default {
  mixins: [adminRequests],
  components: {
    ProductOptionsForm,
    ConfirmModal
  },
  data () {
    return {
      dialog: false,
      confirmModal: false,
      modalData: {},
      search: '',
      headers: [
        {
          text: 'product_Id',
          align: 'left',
          sortable: false,
          value: 'product_id',
          filter: value => {
            return value == this.search
          },
        },
        { text: 'Id', value: 'product_option_id'},
        { text: 'Grupo', value: 'option_group_name'},
        { text: 'Nombre', value: 'option_name'},
        { text: 'Por defecto', value: 'selected', sortable: false},
        { text: 'Acciones', value: 'action', sortable: false },
      ],

      products_options: [],

      itemToEdit: {},
      itemToConfirm: {},
      selected: []

			
      
    }
  },
  computed: {
    itemToEdit: function() { //just the Id
      return this.search
    }
  },
  
  methods: {
    editItem(item) {
      this.itemToEdit = item
      this.dialog = true
    },
    newItem() {
      this.dialog = true
    },
    deleteItem(item) {
      console.log('delete: ', item)
    },
    formActions(itemToSave) {
      if (!itemToSave) {
        console.log('no item')
        this.dialog = false
        this.itemToEdit = {}
      } else {
        console.log(itemToSave)
        this.dialog = false
        this.modalData = {
          action: 'editar',
          element: 'producto',
          item: itemToSave.product_name
        }
        this.ItemToConfirm = itemToSave
        this.confirmModal = true
        // this.itemToEdit = {}
      }
    },
    confirmAction(confirmation) {
      if (!confirmation) {
        this.dialog = false
      } else {
        // this.updateItem(this.itemToConfirm)
        this.dialog = false
        console.log('confirm!')
      }
    }
  },
  created() {
    this.fetchProductsOptions().then(products_options => this.products_options = products_options)
  }
}
</script>

<style>

</style>