<template>
<div>
  <v-card>
    <v-card-title>
      <span class="headline">Edit or new</span>
    </v-card-title>

    <v-card-text>
      <v-container>
        <v-form ref="productForm" v-model="valid">
          <v-row>
            <v-col cols="2">
              <v-text-field disabled v-model="product_name" label="Producto"></v-text-field>
            </v-col>
          </v-row>
            <v-row>
              <v-col cols="6">
                <v-list two-line >

                  <v-list-item class="option-item">
                    <v-list-item-content >
                      <v-row class="d-flex align-center justify-space-between title1">
                        <h4 class="orange--text text--accent-4 title">MEDALLÓN</h4><v-icon color="orange accent-4">mdi-hamburger</v-icon>
                      </v-row>
                      <hr/>
                      <div class="d-flex flex-column" v-for="optionGroup in optionsToLoop" :key="optionGroup.option_group_id">
                        <template v-if="optionGroup.option_type === 'radio'">
                        <h5 class="orange--text text--lighten-1 text-capitalize">{{optionGroup.option_group_name}}</h5>
                        <v-row>
                          <v-col cols="7" class="radio-col">
                            <v-radio-group hide-details v-model="radioOptions[optionGroup.option_group_id]" class="radio-group">
                              <v-radio v-for="option in optionGroup.options" :key="option.option_id" :label="option.option_name" :value="option.option_id"  color="orange lighten-1" ></v-radio>
                            </v-radio-group>
                          </v-col>
                          <v-col class="radio-col">
                            <ul>
                              <li v-for="option in optionGroup.options" v-if="option.option_price" :key="option.option_id" color="orange lighten-1" class="radio-price">+ ${{option.option_price}}</li>
                            </ul>
                          </v-col>
                        </v-row>
                        </template>
                      </div>
                    </v-list-item-content>
                  </v-list-item>


                  <v-list-item class="option-item">
                    <v-list-item-content>
                      <v-row class="d-flex align-center justify-space-between title1">
                        <h4 class="orange--text text--accent-4 title">EXTRAS</h4><v-icon color="orange accent-4">mdi-plus</v-icon>
                      </v-row>
                      <hr/>
                      <div class="d-flex flex-column check-container" v-for="optionGroup in optionsToLoop" :key="optionGroup.option_group_id">
                        <template v-if="optionGroup.option_type === 'checkbox'" class="d-flex flex-column "> 
                          <v-row v-for="option in optionGroup.options" class="d-flex align-center justify-space-between" :key="option.option_id">
                            <v-checkbox :label="option.option_name" hide-details :value="option.option_id" v-model="checkOptions" color="orange lighten-1"></v-checkbox>
                            <span class="price">+ ${{option.option_price}}</span>
                          </v-row>
                        </template>
                      </div>
                    </v-list-item-content>
                  </v-list-item>

                </v-list>
              </v-col>

          </v-row>
        </v-form>
      </v-container>
    </v-card-text>

    <v-card-actions>
      <div class="flex-grow-1"></div>
      <v-btn text @click="close">Cancel</v-btn>
      <v-btn text @click="save">Save</v-btn>
    </v-card-actions>
  </v-card>

	

</div>
</template>

<script>
import adminRequests from "../mixins/adminRequests"

export default {
  props: {
    item: Number // Just product_id
  },
	mixins: [adminRequests],
  data() {
    return {
      valid: true,
      requiredRule: [v => !!v || 'Este campo es obligatorio'],
			// itemToSave : {
			// 	product_id: this.item.product_id,
      // 	product_name: this.item.product_name,
      // 	desc_short: this.item.desc_short,
      // 	desc_long: this.item.desc_long,
      // 	product_price: this.item.product_price,
      // 	type_id: this.item.type_id,
      // 	img: this.item.img,
      // },
      product_name: 'pepepepep',
			
			
      options: [],
      products_options: [],
     
			types: []
    }
  },
  computed: {
    optionsToLoop: function() { // Splits the options into options' group
      let optionsToLoop = []
      console.log(this.options)
      this.options.map(row => {
        const index = optionsToLoop.findIndex(option => {return option.option_group_id == row.option_group_id})
        if (index >= 0) { // Checks if the group is already in the array
          let rowOptions = {option_name: row.option_name, option_price: row.option_price, option_id: row.option_id}
          optionsToLoop[index].options.push(rowOptions)
        } else {
          row.options = [{option_name: row.option_name, option_price: row.option_price, option_id: row.option_id}]
          // delete row.option_id
          // delete row.option_name
          // delete row.option_price
          optionsToLoop.push(row)
        }

        if (row.selected) {
          this.radioOptions[row.option_group_id] = row.option_id
        }
      })
      return optionsToLoop
    }
  },
  methods: {
    close() {
      this.$emit('fromEdit', false)
    },
    save() {
      if (this.$refs.productForm.validate()) {
        this.$emit('fromEdit', this.itemToSave)
      }
    },
  },
  created() {
    this.fetchTypes().then(types => this.types = types)
    this.fetchOptionsByGroup(this.item).then(options => this.options = options)
    // this.fetchProductsOptionsForProduct(this.item)
  },
  updated() {
    this.$refs.productForm.resetValidation()
  }

}
</script>

<style>

</style>