<template>
<div>
  <v-card>
    <v-card-title>
      <span class="headline">Editar las opciones de {{product_name}}</span>
    </v-card-title>

    <v-card-text>
      <v-container>
        <!-- <v-form ref="productForm" v-model="valid"> -->
          <v-row>
            <v-col v-for="group in optionsGrouped" :key="group.option_group_id">
              <v-card >
                <v-card-title>{{group.option_group_name}} <v-spacer/> <span class="caption font-italic font-weight-light">{{typeName(group.option_type)}}</span></v-card-title>
                <v-card-text>
                  <div class="d-flex flex-column"> 
                    <v-checkbox
                      hide-details
                      v-for="option in group.options"
                      color="primary" 
                      :key="option.option_id"
                      :input-value="option.product_id"
                      @change="changeOption($event, option.option_id)"
                    >
                      <template v-slot:label>
                        <div :class="{enabled: optionsToChange[option.option_id], disabled: !optionsToChange[option.option_id]
                        }">{{option.option_name}}</div>
                        <!-- <div :class="[value ? enabled : disabled]">{{option.option_name}}</div> -->
                      </template>
                    </v-checkbox> 
                    <div v-if="group.option_type == 'radio'">
                      <v-divider class="mt-4"/>
                      <v-select label="Por Defecto" hide-details :items="optionsEnabled(group.options)" return-object item-value="option_id" item-text="option_name" :value="selectedOptions[group.option_group_id]" @input="changeSelected($event.option_id, group.option_group_id)"/>
                    </div>
                  </div>
                </v-card-text>
              </v-card>
            </v-col>
          </v-row>
            
        <!-- </v-form> -->
      </v-container>
    </v-card-text>

    <v-card-actions>
      <div class="flex-grow-1"></div>
      <v-btn text @click="close">Cancelar</v-btn>
      <v-btn btn color="primary" @click="save">Guardar</v-btn>
      <v-btn btn color="primary" @click="consolear">gfdgd</v-btn>
    </v-card-actions>
  </v-card>

	

</div>
</template>

<script>
import adminRequests from "../mixins/adminRequests"

export default {
  props: {
    product_id: Number, // Just product_id
    product_name: String
  },
	mixins: [adminRequests],
  data() {
    return {
      // valid: true,
      product_options: [],
      optionsToChange: {},

      selectedOptions: {}
    }
  },
  computed: {
    optionsGrouped: function() {
      let optionsGroups = []
      this.product_options.forEach(row => {
        const index = optionsGroups.findIndex(option => {return option.option_group_id == row.option_group_id})
        if (index >= 0) { // Checks if the group is already in the array
          //let rowOptions = {option_name: row.option_name, option_id: row.option_id}
          optionsGroups[index].options.push(row)
        } else {
          row.options = [row]
          optionsGroups.push(row)
        }
        this.optionsToChange[row.option_id] = row.product_id
      })
      return optionsGroups
    },
    optionsEnabled: function(optionsArray) {
      // Keeps only the "true" options
      let optionsEnabled = []
      for (let option in this.optionsToChange) {
        if (this.optionsToChange[option]) {
          optionsEnabled = [...optionsEnabled, option]
        }
      }

      return optionsArray.map(option => {
        optionsEnabled.includes(optionsArray.option_id)
      })
    },
  },
  methods: {
    consolear() {
      console.log(this.optionsToChange)
    },
    typeName(type) {
      let typeName
      switch (type) {
        case 'radio':
          typeName = 'Obligatorio'
          break;

        case 'checkbox':
          typeName = 'Opcional'
          break;
      }
      return typeName
    },
    // optionsEnabled(optionsArray) {
    //   // Keeps only the "true" options
    //   let optionsEnabled = []
    //   for (let option in this.optionsToChange) {
    //     if (this.optionsToChange[option]) {
    //       optionsEnabled = [...optionsEnabled, option]
    //     }
    //   }

    //   return optionsArray.map(option => {
    //     optionsEnabled.includes(optionsArray.option_id)
    //   })
    // },
    close() {
      this.$router.go(-1)
    },
    save() {
      if (this.$refs.productForm.validate()) {
        this.$emit('fromEdit', this.itemToSave)
      }
    },
    changeOption(val, option_id) {
      this.optionsToChange[option_id] = val
    },
    changeSelected(val, option_group_id) {
      this.selectedOptions[option_group_id] = val
    }
  },
  created() { // fetchProductsOptionsForProduct
    this.fetchTypes().then(types => this.types = types)
    this.fetchOptionsByGroup(this.product_id).then(product_options => {
      this.product_options = product_options
      
      product_options.forEach(option => {
        if (option.selected) {
          this.selectedOptions[option.option_group_id] = option.option_id
        }
      })
    })
  },
  // updated() {
  //   this.$refs.productForm.resetValidation()
  // }

}
</script>

<style>
.enabled {
  color: #FFC107;
  font-weight: bold
}

.disabled {
  text-decoration: line-through
}

</style>