<template>
  
</template>

<script>
export default {
  data(){
    return {
    }
  },
  computed: {
    loggedIn: {
      // getter
      get: function () {
        return localStorage.getItem('authorization')
      },
      // setter
      set: function (newValue) {
        return newValue
      }
    }
  },
  methods: {
		logout() {
      localStorage.removeItem('authorization')
      this.$router.push('/login')
    }
  },
  created(){
   this.loggedIn = localStorage.getItem('authorization')
  },
}
</script>

<style>

</style>