<template>
  <v-app>
    <v-app-bar app>
      <v-app-bar-nav-icon>
        <v-avatar>
        <img
          src="/queue2.png"
          alt="Queue"
        >
      </v-avatar>
      </v-app-bar-nav-icon>
      <v-toolbar-title>Mi hamburguesería</v-toolbar-title>
      <v-spacer />
      <v-btn v-if="token" color="primary" @click="$router.push('/user')">Mi orden</v-btn>

    </v-app-bar>



    <v-content style="background-img: https://image.freepik.com/foto-gratis/textura-negra_1205-327.jpg?1">
      <keep-alive include="menuComponent">
        <router-view></router-view>
      </keep-alive>
    </v-content>

  </v-app>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'App',
  components: {
  },
  data: () => ({
    //
  }),
  computed: {
    ...mapGetters(['token'])
  }
};
</script>

<style>
.title1 {
  padding-right: 12px;
  padding-left: 12px;
}

.preFixed {
	height: 56px;
}
/* .title {
  font-weight: bold
} */

a {
  text-decoration: none;
}
</style>
