<template>
  <div>
    <h1>Ordenes</h1>
    <v-checkbox v-model="showDispatched" label="Mostrar entregados"></v-checkbox>
    <v-row >
      <AdminSingleOrder v-for="order in ordersToDisplay" :key="order.order_id" :order="order" />
    </v-row>
    <v-btn @click="emitOrder">traer orden</v-btn>
  </div>
  
</template>

<script>
import AdminRequests from '../mixins/adminRequests'
import AdminSingleOrder from './adminSingleOrder'

export default {
  mixins: [AdminRequests],
  components: {
    AdminSingleOrder
  },
  sockets: {
    connect: function () {
      console.log('socket connected')
    },
    addOrder: function (order) {
      // console.log(order)
      // this.orders.push(order)
       this.fetchOrders().then(orders => {
      console.log(orders)
      this.orders = orders
    })
    }
  },
  data() {
    return {
      orders: [],
      showDispatched: false
    }
  },
  computed: {
		ordersToDisplay: function() {
			return !this.showDispatched ?
				this.orders.filter(order => {
					return !order.dispatched
				}) :
				this.orders
		}
	},
  methods: {
    emitOrder: async function () {
      this.$socket.emit('giveMeAnOrder')

      const giveme = await fetch(`${this.url}/giveme`);
      this.response = await giveme.json()
    }
  },
  created() {
    this.fetchOrders().then(orders => {
      console.log(orders)
      this.orders = orders
    })
  }

}
</script>

<style>

</style>