<template>
<v-col>
  <v-card
    class="mx-auto"
    max-width="280"
    min-width="210"
    tile
  >
    <v-list>
      <v-subheader>
        <span class="order">{{order.order_id}}</span><v-spacer/>
        <span><strong>{{order.client}}</strong></span><v-spacer/>
        <span>{{order.deliver_time}}</span>
      </v-subheader>
      

      <v-list-item v-for="item in order.items" :key="item.product_id">
        <v-list-item-content>
          <v-list-item-title>{{item.product_name}} x{{item.quantity}} </v-list-item-title>
          <v-list-item-subtitle v-for="option in item.options" :key="option.option_id">{{option.option_name}}</v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>

      <v-list-item three-line>
        <v-list-item-content>
          <v-list-item-title>NOTAS</v-list-item-title>
          <v-list-item-subtitle>{{order.order_notes}}</v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
      
      <v-list-item-action>
        <v-col>
          <v-row >
            <v-btn v-if="!order.dispatched" color="primary" @click="dispatch">ENTREGAR</v-btn>
            <div class=""></div>
            <v-btn v-if="!order.dispatched" color="primary" @click="notify" fab small><v-icon>mdi-bell-ring</v-icon></v-btn>
          </v-row>
        <v-btn v-if="order.dispatched" disabled>ENTREGADO</v-btn>
        </v-col>
      </v-list-item-action>

    </v-list>
  </v-card>
</v-col>
</template>

<script>
import adminRequests from '../mixins/adminRequests.vue';

export default {
  mixins: [adminRequests],
  props: {
    order: Object
  },
  methods: {
    dispatch() {
      this.dispatchOrder(true, this.order.order_id).then(confirmation => {
        this.order.dispatched = true
      })
    },
    notify() {
      alert('notify')
    }
  }
}
</script>

<style>
.order {
  background-color: #FFFF00;
  font-weight: bold;
  color: black;
  border-radius: 50%;
  padding: 8px
}

</style>